xpd-times {

    display: block;
    height: 100%;

    svg {
        height: 99%;
    }

    .xpd-times-container {
        padding: 10px 5px;
    }

    .xpd-times-ticks {
        font-size: 0.2em;
        fill: #bff0ef;
        text-anchor: end;
    }

    .xpd-times-bar:hover,
    .xpd-times-selected-bar {
        fill: white;
    }

}