<svg ng-if="$tracks" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" version='1.1' ng-attr-width='{{ svg.viewWidth }}'
 ng-attr-height='{{ svg.viewHeight }}'>

	<rect 
		class="dmec-bg" 
		fill="white" 
		fill-opacity="0.1" 
		x="0" 
		y="0" 
		ng-attr-width='{{ svg.viewWidth }}' 
		ng-attr-height='{{ svg.viewHeight }}'>
	</rect>

	<g class="range-ticks">
		<g ng-repeat="track in $tracks">
			<line 
				ng-repeat="tick in track.ticks" 
				ng-attr-transform="translate( {{ horizontal? 0: track.trackScale(tick) }}, {{ horizontal? track.trackScale(tick): 0 }} )"
				x1='0' 
				y1='0' 
				ng-attr-x2='{{ horizontal? svg.viewWidth: 0  }}' 
				ng-attr-y2='{{ horizontal? 0: svg.viewHeight }}' 
				stroke="#e9e9e9" 
				stroke-opacity="0.2" 
				stroke-width="1" />
		</g>
	</g>

	<svg ng-attr-width='{{ svg.viewWidth }}' ng-attr-height='{{ svg.viewHeight }}' preserveAspectRatio="none" class="zoom-view-box-container">
		
		<g class="clip-paths">
			<g ng-repeat="track in $tracks">
				<clipPath id="myClip-{{ track.param }}">
					<rect 
						ng-attr-x="{{ horizontal? timeScale(zoomStartAt) : track.trackScale(track.min) }}" 
						ng-attr-y="{{ horizontal? track.trackScale(track.max) : timeScale(zoomStartAt) }}" 
						ng-attr-width='{{ horizontal? zoomArea : ( track.trackScale(track.max) - track.trackScale(track.min) )  }}' 
						ng-attr-height='{{ horizontal? ( track.trackScale(track.min) - track.trackScale(track.max) ): zoomArea }}'
						/>
				</clipPath>
			</g>
		</g>

		<g class="time-ticks">
			<g 	ng-repeat="tick in timeTicks" 
				ng-attr-transform="translate( {{ horizontal? timeScale(tick): 0 }}, {{ horizontal? 0: timeScale(tick) }} )">
				<line 
					vector-effect="non-scaling-stroke" 
					x1="0" 
					y1="0" 
					ng-attr-x2='{{ horizontal? 0: svg.viewWidth }}' 
					ng-attr-y2='{{ horizontal? svg.viewHeight: 0 }}' 
					stroke="#e9e9e9"
					stroke-opacity="0.2" 
				 	stroke-width="1" />
			</g>
		</g>

		<g class="oldPoints">
			<path 
			id="{{ track.param }}" 
			ng-repeat="track in $tracks" 
			fill="none" 
			stroke="{{ track.color }}" 
			ng-attr-clip-path="url(#myClip-{{ track.param }})" 
			vector-effect="non-scaling-stroke" 
			stroke-width="3" />
		</g>

		<g class="newPoints">
			<path 
			id="{{ track.param }}" 
			ng-repeat="track in $tracks" 
			fill="none" 
			stroke="{{ track.color }}" 
			ng-attr-clip-path="url(#myClip-{{ track.param }})" 
			vector-effect="non-scaling-stroke" 
			stroke-width="3" />
		</g>
	</svg>

	<g class="crosshair" ng-if="!horizontal">
		<line x1="0" ng-attr-x2="{{ svg.viewWidth }}" id="crosshair" stroke="black" stroke-opacity="0.5" stroke-width="0.1em" />
		<line x1="0" ng-attr-x2="{{ svg.viewWidth }}" id="crosshair1" stroke="black" stroke-opacity="0.9" />
	</g>

	<g class="crosshair" ng-if="horizontal">
		<line y1="0" ng-attr-y2="{{ svg.viewHeight }}" id="crosshair" stroke="white" stroke-opacity="0.5" stroke-width="0.1em" />
		<line y1="0" ng-attr-y2="{{ svg.viewHeight }}" id="crosshair1" stroke="white" stroke-opacity="0.9" />
	</g>

	<g class="bubbles">
		<g 
			ng-repeat="( key, track ) in $tracks" 
			ng-if="$tracks && track.labelPosition != null" 
			id="bubble-{{track.param}}" 
			style="display: none;">
			<circle 
				r="5" 
				fill="none" 
				stroke-width="2" 
				ng-attr-stroke="{{ track.color }}">
			</circle>
		</g>
	</g>

	<g class="legend" ng-if="!horizontal">

		<g class="label" ng-if="$tracks && track.labelPosition != null" ng-repeat="(key, track) in $tracks">

			<text 
				id="text-label-{{track.param}}" 
				font-size="0.5vw" 
				ng-attr-fill="{{ track.color }}"
				ng-attr-x="{{ ( svg.viewWidth * 0.1 ) + ( ( key / $tracks.length ) * ( svg.viewWidth * 0.8 )  ) }}"
				ng-attr-alignment-baseline="{{ (key % 2)? 'baseline' : 'hanging' " 
				text-anchor="end">
				{{ track.label }}: 
			</text>

			<text 
				id="text-{{track.param}}" 
				style="display: none;"
				font-size="0.5vw" 
				ng-attr-fill="{{ track.color }}" 
				ng-attr-x="{{ ( svg.viewWidth * 0.1 ) + ( ( key / $tracks.length ) * ( svg.viewWidth * 0.8 )  ) }}"
			 	ng-attr-alignment-baseline="{{ (key % 2)? 'baseline' : 'hanging' " 
			 	text-anchor="start">
			</text>

		</g>

	</g>

	<g class="legend" ng-if="horizontal">

		<g class="label" ng-if="$tracks && track.labelPosition != null" ng-repeat="(key, track) in $tracks">

			<text 
				id="text-label-{{track.param}}" 
				font-size="1.5vh" 
				ng-attr-fill="{{ track.color }}" 
				ng-attr-y="{{ ( svg.viewHeight * 0.1 ) + ( ( key / $tracks.length ) * ( svg.viewHeight * 0.8 ) ) }}"
				alignment-baseline="middle" 
				text-anchor="end">
				{{ track.label }}: 
			</text>

			<text 
				id="text-{{track.param}}" 
				style="display: none;"
				font-size="1.5vh" 
				ng-attr-fill="{{ track.color }}"
				ng-attr-y="{{ ( svg.viewHeight * 0.1 ) + ( ( key / $tracks.length ) * ( svg.viewHeight * 0.8 ) ) }}"
				alignment-baseline="middle" 
				text-anchor="start">
			</text>

		</g>

	</g>

	<rect 
		ng-if="listenToMouseMove != null" 
		style="fill: none; pointer-events: all;" 
		class="overlay" 
		ng-dblclick="openScaleModal()"
		ng-init="listenToMouseMove()" 
		x="0" 
		y="0"
		ng-attr-width='{{ svg.viewWidth }}' 
		ng-attr-height='{{ svg.viewHeight }}'>
	</rect>

</svg>