<div class="panel panel-default">

	<div class="panel-heading clearfix" ng-click="panelNextAlarmsIsCollapsed = !panelNextAlarmsIsCollapsed">
		<h4 class="panel-title pull-left">Next Alarms</h4>
		<div class="btn-group pull-right">
			<i type="button" class="pull-right glyphicon pointer"
				ng-class="{'glyphicon-chevron-down': panelNextAlarmsIsCollapsed, 'glyphicon-chevron-up': !panelNextAlarmsIsCollapsed}">
			</i>
		</div>
	</div>

	<div class="panel-body" uib-collapse="panelNextAlarmsIsCollapsed">

		<div ng-if="nextAlarms.length != 0">

			<table class="table table-sm table-hover table-condensed">
				<thead>
					<tr>
						<th>Alarms</th>
						<th>Start</th>
						<th>End</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, alarm) in nextAlarms">
						<td>{{alarm.name}}</td>
						<td>{{alarm.startDepth | number: 2}}(m)</td>
						<td>{{alarm.endDepth | number: 2}}(m)</td>
						<td>{{alarm.alarmType | uppercase}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-if="nextAlarms.length == 0">
			No alarms predicted
		</div>

	</div>

</div>