

xpd-dmec-tracking,
xpd-dmec-tracking > .dmec-tracking-container,
xpd-dmec-tracking xpd-d3-dmec-chart,
xpd-dmec-tracking xpd-time-zoom-tool,
xpd-dmec-tracking xpd-time-zoom-tool > svg,
xpd-dmec-tracking xpd-dmec-tracking-events,
xpd-dmec-tracking xpd-dmec-tracking-events > svg  {
    display: block;
    width: 100%;
    height: 100%;
}

