<input style="display: none" type="number" name="{{name}}" disabled="{{disabled}}" required="{{required}}" ng-model="ngModel"
    min="{{min ? min : lastMin}}" max="{{max ? max : lastMax}}" input-time at-least="{{atLeast}}" at-most="{{atMost}}" xpd-form-validation="contractTimeForm">


<table>
    <tr>
        <td>

            <input class="form-control input-sm" placeholder="Hours" type="number" ng-disabled="{{disabled}}" ng-required="{{required}}"
                min="0" ng-model="hours" ng-change="watchInput()">
        </td>
        <td>
            <input class="form-control input-sm" placeholder="Minutes" type="number" ng-disabled="{{disabled}}" ng-required="{{required}}"
                min="0" max="60" ng-model="minutes" ng-change="watchInput()">
        </td>
        <td>
            <input class="form-control input-sm" placeholder="Seconds" type="number" ng-disabled="{{disabled}}" ng-required="{{required}}"
                min="0" max="60" ng-model="seconds" ng-change="watchInput()">
        </td>
    </tr>
</table>