<!-- <pre> {{treeView | json}} </pre> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
    		<div>
    			<h1 class="xpd-box-title">Categories (Failure / Delay)</h1>
    		</div>

    		<div class="col-md-10 col-md-offset-1 tree-content">
    			<!-- <h4 class="tree-content-title">Categories</h4> -->

    			<div
    			  data-angular-treeview="true"
    			  data-tree-id="mytree"
    			  data-tree-model="category.roleList"
                  data-controller="fdcController"
    			  data-node-selected="category.selected">
    			</div>
    		</div>  	
        </div>
    </div>
</div>