<div class="col-md-12 admin-chart-container">
    <div class="col-md-12 admin-chart">
        <!--pre>{{ dados.forecast | json }}</pre-->
        <div class="col-md-4">
            <h1>optimumLine</h1>
            <pre>{{ dados.optimumLine | json }}</pre>
        </div>

        <div class="col-md-4">
            <h1>actualLine</h1>
            <pre>{{ dados.actualLine | json }}</pre>
        </div>

        <div class="col-md-4">
            <h1>expectedLine</h1>
            <pre>{{ dados.expectedLine | json }}</pre>
        </div>

    </div>
</div>
