<div class="row scrollable-content">

    <div class="container-fluid ">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- <div class="panel panel-default">

                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Well Information</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': panelWellIsCollapsed, 'glyphicon-chevron-up': !panelWellIsCollapsed}"
                            ng-click="panelWellIsCollapsed = !panelWellIsCollapsed">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="panelWellIsCollapsed">

                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Well</th>
                            <td>{{ operationData.wellContext.currentWell.name }}</td>
                            <td>Plataforma 1</td>
                        </tr>
                        <tr>
                            <th>Water Depth</th>
                            <td ng-if="!well.onshore" colspan="2">{{ operationData.wellContext.currentWell.waterDepth }}</td>
                            <td ng-if="well.onshore" colspan="2">On Shore</td>
                        </tr>
                        <tr>
                            <th>Seabed</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>BOP TOP</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Well Head</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Last Shoe Depth</th>
                            <td colspan="2">{{ operationData.wellContext.currentWell.shoeDepth }}</td>
                        </tr>
                    </table>

                </div>

            </div> -->

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Operation Information</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': panelOperationInfoIsCollapsed, 'glyphicon-chevron-up': !panelOperationInfoIsCollapsed}"
                            ng-click="panelOperationInfoIsCollapsed = !panelOperationInfoIsCollapsed">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="panelOperationInfoIsCollapsed">
            
                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Section</th>
                            <td>Section name</td>
                        </tr>
                        <tr>
                            <th>Operation Name</th>
                            <td colspan="2">{{ operationData.operationContext.currentOperation.name }}</td>
                        </tr>
                        <tr class="success">
                            <th>State</th>
                            <td colspan="2">{{ operationData.stateContext.currentState | xpdStateLabelFilter }}</td>
                        </tr>
                        <tr class="success">
                            <th>Event Type</th>
                            <td colspan="2">{{ operationData.eventContext.currentEvent.eventType }}</td>
                        </tr>
                        <tr class="success">
                            <th>Direction</th>
                            <td colspan="2">
                                <span ng-if="operationData.directionContext.tripin" class="glyphicon glyphicon-arrow-down"></span>
                                <span ng-if="!operationData.directionContext.tripin" class="glyphicon glyphicon-arrow-up"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Forecast</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="borderless-top">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        10h
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cumulated Consistency</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="borderless-top">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: accScore + '%'}">
                                        {{accScore | number: 0}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
            
                </div>
            
            </div>

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Bit Depth</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': panelBitDepthIsCollapsed, 'glyphicon-chevron-up': !panelBitDepthIsCollapsed}"
                            ng-click="panelBitDepthIsCollapsed = !panelBitDepthIsCollapsed">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="panelBitDepthIsCollapsed">
            
                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Bit Depth</th>
                            <td>{{ operationData.readingContext.currentReading.bitDepth | number : '.2' }} m</td>
                        </tr>
                        <tr>
                            <th>BlockPosition</th>
                            <td>{{ operationData.readingContext.currentReading.blockPosition | number : '.2' }} m</td>
                        </tr>
                        <tr>
                            <th>Hookload</th>
                            <td>{{ operationData.readingContext.currentReading.hookload | number : '.2' }} klb</td>
                        </tr>
                        <tr>
                            <th>Joint</th>
                            <td>{{ operationData.jointContext.currentJoint.jointNumber}} / {{ operationData.jointContext.numberJoints}}</td>
                        </tr>
                    </table>
            
                </div>
            
            </div>

            <div class="panel panel-default">

                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Operation Dashboard</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': panelOperationIsCollapsed, 'glyphicon-chevron-up': !panelOperationIsCollapsed}"
                            ng-click="panelOperationIsCollapsed = !panelOperationIsCollapsed">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="panelOperationIsCollapsed">

                    <div class="well">Operation:
                        <strong>{{ operationData.operationContext.currentOperation.name }}</strong>
                    </div>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vOptimumLine', 'BOTH' )">
                        Optimum
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vStandardLine', 'BOTH' )">
                        Standard
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vPoorLine', 'BOTH' )">
                        Poor
                    </button>

                    <forecast-waterfall
                        horizontal="false"
                        data-data-chart="forecast">
                    </forecast-waterfall>

                </div>

            </div>


            <panel-consistency-information
                current-score="operationData.scoreContext.currentScore"
                progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]">
            </panel-consistency-information>

        </div>

    </div>
    
    <!-- <pre ng-repeat="(key, value) in operationData.forecastContext">{{ key }}</pre> -->
    <!-- <pre>{{ operationData.forecastContext.actualLine | json }}</pre> -->
    <!-- <pre >{{ operationData.suboperationContext.currentSuboperation.tripin | json }}</pre> -->

</div>