<div class="row scrollable-content">

    <div class="container-fluid ">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelWellIsCollapsed')" ng-click="odController.changePanelState('panelWellIsCollapsed')">
                    <h4 class="panel-title pull-left">Well Information</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelWellIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelWellIsCollapsed']}">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="statusPanel['panelWellIsCollapsed']">

                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Well</th>
                            <td>{{ operationData.wellContext.currentWell.name }}</td>
                            <td>Plataforma 1</td>
                        </tr>
                        <tr>
                            <th>Water Depth</th>
                            <td ng-if="!well.onshore" colspan="2">{{ operationData.wellContext.currentWell.waterDepth }}</td>
                            <td ng-if="well.onshore" colspan="2">On Shore</td>
                        </tr>
                        <tr>
                            <th>Seabed</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>BOP TOP</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Well Head</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Last Shoe Depth</th>
                            <td colspan="2">{{ operationData.wellContext.currentWell.shoeDepth }}</td>
                        </tr>
                    </table>

                </div>

            </div>

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelOperationInfoIsCollapsed')" ng-click="odController.changePanelState('panelOperationInfoIsCollapsed')">
                    <h4 class="panel-title pull-left">Operation Information</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelOperationInfoIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelOperationInfoIsCollapsed']}">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="statusPanel['panelOperationInfoIsCollapsed']">
            
                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Section</th>
                            <td>{{ operationData.operationContext.currentOperation.section.name }}</td>
                        </tr>
                        <tr>
                            <th>Operation Name</th>
                            <td colspan="2">{{ operationData.operationContext.currentOperation.name }}</td>
                        </tr>
                        <tr class="success">
                            <th>State</th>
                            <td colspan="2">{{ operationData.stateContext.currentState | xpdStateLabelFilter }}</td>
                        </tr>
                        <tr class="success">
                            <th>Event Type</th>
                            <td colspan="2">{{ operationData.eventContext.currentEvent.eventType | xpdEventLabelFilter }}</td>
                        </tr>
                        <tr class="success">
                            <th>Direction</th>
                            <td colspan="2">
                                <span ng-if="operationData.directionContext.tripin" class="glyphicon glyphicon-arrow-down"></span>
                                <span ng-if="!operationData.directionContext.tripin" class="glyphicon glyphicon-arrow-up"></span>
                                Trip {{ operationData.directionContext.tripin?'In': 'Out' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Joints</th>
                            <td colspan="2">
                                <strong>{{ operationData.jointContext.currentJoint.jointNumber }}</strong> of 
                                {{ operationData.jointContext.numberJoints | json}}
                            </td>
                        <tr>
                            <th>Forecast (Coming soon)</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="borderless-top">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        10h
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cumulated Consistency</th>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="borderless-top">

                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: accScore + '%'}">
                                        {{accScore | number: 0}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
            
                </div>
            
            </div>

            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelChanelsIsCollapsed')" ng-click="odController.changePanelState('panelChanelsIsCollapsed')">
                    <h4 class="panel-title pull-left">Channels</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelChanelsIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelChanelsIsCollapsed']}">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="statusPanel['panelChanelsIsCollapsed']">
            
                    <table class="table table-sm table-hover table-condensed">
                        <tr>
                            <th>Bit Depth</th>
                            <td>{{ operationData.readingContext.currentReading.bitDepth | number : '.2' }} m</td>
                        </tr>
                        <tr>
                            <th>BlockPosition</th>
                            <td>{{ operationData.readingContext.currentReading.blockPosition | number : '.2' }} m</td>
                        </tr>
                        <tr>
                            <th>Hookload</th>
                            <td>{{ operationData.readingContext.currentReading.hookload | number : '.2' }} klb</td>
                        </tr>
                    </table>

                </div>

            </div>

            <consistency-information-panel
                current-score="operationData.scoreContext.currentScore"
                progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]">
            </consistency-information-panel>

            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelOperationIsCollapsed')" ng-click="odController.changePanelState('panelOperationIsCollapsed')">
                    <h4 class="panel-title pull-left">
                            Trip {{ operationData.directionContext.tripin?'In': 'Out' }} Sub Operation Forecast</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelOperationIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelOperationIsCollapsed']}">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="statusPanel['panelOperationIsCollapsed']">

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vOptimumLine', 'BOTH' )">
                        Optimum
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vStandardLine', 'BOTH' )">
                        Standard
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vPoorLine', 'BOTH' )">
                        Poor
                    </button>

                    <forecast-waterfall
                        horizontal="false"
                        data-data-chart="forecast">
                    </forecast-waterfall>

                </div>

            </div>

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelNextActivityIsCollapsed')" ng-click="odController.changePanelState('panelNextActivityIsCollapsed')">
                    <h4 class="panel-title pull-left">Next Activity</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelNextActivityIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelNextActivityIsCollapsed']}">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="statusPanel['panelNextActivityIsCollapsed']">
            
                    <div ng-if="operationData.operationQueueContext.nextOperation">
                        <table class="table table-sm table-hover table-condensed">
                            <tr>
                                <th>Section</th>
                                <td>{{ operationData.operationQueueContext.nextOperation.section.name }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ operationData.operationQueueContext.nextOperation.name }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ operationData.operationQueueContext.nextOperation.type | uppercase }}</td>
                            </tr>
                        </table>
                    </div>

                    <div ng-if="!operationData.operationQueueContext.nextOperation">No Operation</div>
            
                </div>
            
            </div>

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelCurrentAlarmIsCollapsed')" ng-click="odController.changePanelState('panelCurrentAlarmIsCollapsed')">
                    <h4 class="panel-title pull-left">Current Alarm</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelCurrentAlarmIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelCurrentAlarmIsCollapsed']}">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="statusPanel['panelCurrentAlarmIsCollapsed']">
            
                    <div ng-if="operationData.alarmContext.currentAlarm">
                        <table class="table table-sm table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>{{operationData.alarmContext.currentAlarm.name}}</th>
                                </tr>
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th ng-if="operationData.alarmContext.currentAlarm.isDurationAlarm">Duration</th>
                                    <th ng-if="!operationData.alarmContext.currentAlarm.isDurationAlarm">Restriction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{operationData.alarmContext.currentAlarm.startDepth | number: 2}}(m)</td>
                                    <td>{{operationData.alarmContext.currentAlarm.endDepth | number: 2}}(m)</td>
                                    <td ng-if="operationData.alarmContext.currentAlarm.isDurationAlarm">{{ 3600/operationData.alarmContext.currentAlarm.optimumSpeed | secondsToHourMinutesSeconds}}</td>
                                    <td ng-if="!operationData.alarmContext.currentAlarm.isDurationAlarm">{{operationData.alarmContext.currentAlarm.speedRestriction | number: 2}}(m/s)</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{operationData.alarmContext.currentAlarm.message}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div ng-if="!operationData.alarmContext.currentAlarm">
                        No Current Alarm
                    </div>
            
                </div>
            
            </div>

            <upcoming-alarms-panel
                tripin-alarms="operationData.alarmContext.tripin"
                tripout-alarms="operationData.alarmContext.tripout"
                current-direction="operationData.directionContext"
                current-bit-depth="operationData.bitDepthContext.bitDepth">
            </upcoming-alarms-panel>

            <div class="panel panel-default">
            
                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelFailuresIsCollapsed')" ng-click="odController.changePanelState('panelFailuresIsCollapsed')">
                    <h4 class="panel-title pull-left">Failures</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer"
                            ng-class="{'glyphicon-chevron-down': statusPanel['panelFailuresIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelFailuresIsCollapsed']}">
                        </i>
                    </div>
                </div>
            
                <div class="panel-body" uib-collapse="statusPanel['panelFailuresIsCollapsed']">
            
                    <div ng-if="operationData.failureContext.failureList.length != 0">
                    
                        <table class="table table-sm table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>NPT</th>
                                    <th>Category</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, failure) in operationData.failureContext.failureList" ng-class="{'danger':failure.npt, 'warning':failure.onGoing}">
                                    <td>
                                        <span ng-class="{'glyphicon glyphicon-ok':(failure.npt), '':(!failure.npt)}"></span>
                                    </td>
                                    <td>{{failure.category.name}}</td>
                                    <td>{{failure.startTime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                                    <td>{{failure.endTime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                                    <td>{{odController.getTotalFailureTime(failure.startTime, failure.endTime) / 1000 | secondsToHourMinutesSeconds}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                </div>
            
            </div>

        </div>

    </div>
    
    <!-- <pre ng-repeat="(key, value) in operationData.forecastContext">{{ key }}</pre> -->
    <!-- <pre>{{ operationData.forecastContext.actualLine | json }}</pre> -->
    <!-- <pre >{{ operationData.suboperationContext.currentSuboperation.tripin | json }}</pre> -->

</div>