<ul class="xpd-tracking-operation-manager nav navbar-nav navbar-right">

    <xpd-operation-manager display="inline" popover-placement="bottom-right" operation-queue='operationData.operationQueueContext.operationQueue'
        current-operation='operationData.operationContext.currentOperation' last-section='operationData.operationQueueContext.lastSection'
        current-state="operationData.stateContext.currentState" current-direction="operationData.directionContext" bit-depth-context='operationData.bitDepthContext'
        current-alarm="operationData.alarmContext.currentAlarm" action-button-start-operation='tController.actionButtonStartOperation'
        action-button-finish-operation='tController.actionButtonFinishOperation' action-button-start-cementation="tController.actionButtonStartCementation"
        action-button-stop-cementation="tController.actionButtonStopCementation" action-button-start-make-up="tController.actionButtonStartMakeUp"
        action-button-start-lay-down="tController.actionButtonStartLayDown" action-button-finish-make-up="tController.actionButtonFinishMakeUp"
        action-button-finish-lay-down="tController.actionButtonFinishLayDown" action-button-finish-duration-alarm="tController.finishDurationAlarm">
    </xpd-operation-manager>

</ul>

<div class="col-md-9 col-sm-6 col-xs-6 tracking-content">
    
    <old-tracking ng-if="flags.showDMEC == false"></old-tracking>
    
    <dmec-tracking 
        ng-if="flags.showDMEC == true" 
        connection-events="dados.connectionEvents" 
        trip-events="dados.tripEvents" 
        time-events="dados.timeEvents">
    </dmec-tracking>

</div>

<div ng-controller="AdminTrackingController as atController" class="col-md-3 col-sm-6 col-xs-6 xpd-admin-col">

    <div class="xpd-admin-col-content">
        <div class="row tracking-performance-row xpd-chart-container">

            <div class="col-md-4 xpd-chart-container-content">

                <score-gauge class="xpd-chart" joint-data="operationData.jointContext" direction-data="operationData.directionContext" number-joints="operationData.jointContext.numberJoints"
                    current-score="operationData.scoreContext.currentScore" acc-score="operationData.shiftContext.accScore">
                </score-gauge>

            </div>

            <div class="col-md-4 xpd-chart-container-content">

                <div class="ship-placeholder-container">
                    <img class="ship-placeholder" photo-api-directive photo-api-directive-photo-name="operationData.wellContext.currentWell.rig.photoPath"
                        photo-api-directive-server-path="tripin/rig-pictures">

                    <div ng-if="operationData.operationContext.currentOperation.running" class="data-bit-depth-content">
                        <div class="data-bit-depth-title"> Bit Depth </div>

                        <div ng-if="operationData.bitDepthContext.usingXpd">
                            <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.xpdBitDepth != null">
                                {{ operationData.bitDepthContext.xpdBitDepth | number : 2 }} m
                            </div>
                                
                            <div class="no-bit-depth" ng-if="operationData.bitDepthContext.xpdBitDepth == null">
                                NO XPD BIT DEPTH
                            </div>
                        </div>
                        
                        <div ng-if="!operationData.bitDepthContext.usingXpd">
                            <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.rigBitDepth != null">
                                {{ operationData.bitDepthContext.rigBitDepth | number : 2 }} m
                            </div>
                        
                            <div class="no-bit-depth" ng-if="operationData.bitDepthContext.rigBitDepth == null">
                                NO RIG BIT DEPTH
                            </div>
                        </div>

                    </div>

                    <div ng-if="operationData.eventContext.currentEvent.ssoIndicator" class="data-sso-box">
                        <div class="data-sso-indicator">SSO SIGNED</div>
                    </div>
                    
                </div>

                <div ng-if="operationData.shiftContext.onShift[0] != null" member-performance member="operationData.shiftContext.onShift[0].member"></div>

            </div>

            <div class="col-md-4 xpd-chart-container-content tracking-vre-container">
                <div vre-list-table vre-data="operationData.vreContext.vreData"></div>
            </div>

        </div>

        <div class="row tracking-operation-progress-row xpd-chart-container has-footer">
            <div class="xpd-chart-container-header">
                Operation Progress
            </div>

            <div class="xpd-chart-container-content">

                <div ng-if="operationData.stateContext.currentState && operationData.operationProgressContext.operationProgressData && operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                    class="xpd-chart" operation-progress-chart progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                    progress-data-delay="operationData.operationProgressContext.progressDataDelay"></div>

            </div>
            <div class="xpd-chart-container-footer operation-progress-delay-container">
                <div class="operation-progress-delay">
                    <div class="operation-progress-delay-title">
                        Progress Delay
                    </div>
                    <div class="operation-progress-delay-info">
                        <table class="table">
                            <tr>
                                <td ng-repeat="delayLog in operationData.operationProgressContext.progressDataDelay">
                                    {{delayLog.name}}:
                                    <span>{{delayLog.time | secondsToHourMinutes}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="row tracking-alarm-row xpd-chart-container">
            <div class="xpd-chart-container-header">
                Alarms/Tasks
            </div>

            <div class="xpd-chart-container-content">
                <ul class="media-list">
                    <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.depthAlarms | orderBy: 'playTime'">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{ acknowledgement.alarm.message }}
                            <br/>

                            <i>Triggered at:
                                <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                            </i>
                            <br/>

                            <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                            </i>

                            <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row tracking-message-row xpd-chart-container">
            <div class="xpd-chart-container-header">
                Messages
            </div>

            <div class="xpd-chart-container-content">
                <ul class="media-list">
                    <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.timeAlarms | orderBy: 'playTime'">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-time"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{ acknowledgement.alarm.message }}
                            <br/>

                            <i>Triggered at:
                                <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                            </i>
                            <br/>

                            <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                            </i>

                            <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <span class="fa fa-retweet change-trackin-content" ng-click="tController.changeTrackingContent()"></span>

</div>