<ul class="xpd-tracking-operation-manager nav navbar-nav navbar-right">

    <xpd-operation-manager display="inline" popover-placement="bottom-right" operation-queue='operationData.operationQueueContext.operationQueue'
        current-operation='operationData.operationContext.currentOperation' last-section='operationData.operationQueueContext.lastSection'
        current-state="operationData.stateContext.currentState" current-direction="operationData.directionContext" current-bit-depth='operationData.bitDepthContext.bitDepth'
        current-alarm="operationData.alarmContext.currentAlarm" action-button-start-operation='tController.actionButtonStartOperation'
        action-button-finish-operation='tController.actionButtonFinishOperation' action-button-start-cementation="tController.actionButtonStartCementation"
        action-button-stop-cementation="tController.actionButtonStopCementation" action-button-start-make-up="tController.actionButtonStartMakeUp"
        action-button-start-lay-down="tController.actionButtonStartLayDown" action-button-finish-make-up="tController.actionButtonFinishMakeUp"
        action-button-finish-lay-down="tController.actionButtonFinishLayDown" action-button-finish-duration-alarm="tController.finishDurationAlarm">
    </xpd-operation-manager>

</ul>

<div ng-controller="AdminTrackingController as atController" class="col-md-5 col-sm-12 xpd-admin-col">
    <div class="xpd-admin-col-content">

        <div class="col-md-4 col-sm-4 col-xs-4 xpd-chart-container">
            <div class="xpd-chart-container-header">
                Slips to Slips (Conn)
            </div>
            <div class="xpd-chart-container-content">
                <div ng-if="operationData.operationContext.currentOperation && operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent != null"
                    class="xpd-chart" times='dados.connectionTimes' max-seconds="175" max-bars="200" selected-event="selectedEvent"
                    action-bar-double-click="atController.actionBarDoubleClick" action-bar-click="atController.actionBarClick">

                </div>

                <div class="xpd-chart-placeholder" ng-if="!operationData.operationContext.currentOperation.running && operationData.operationContext.currentEvent == null">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 xpd-chart-container">

            <div class="xpd-chart-container-header">
                Slips to Slips (Trip)
            </div>
            <div class="xpd-chart-container-content">
                <div ng-if="operationData.operationContext.currentOperation && operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent != null"
                    class="xpd-chart" times='dados.tripTimes' max-seconds="100" max-bars="200" action-bar-click="atController.actionBarClick"
                    action-bar-double-click="atController.actionBarDoubleClick" selected-event="selectedEvent" average-stand-length='operationData.operationContext.currentOperation.averageStandLength'>

                </div>

                <div class="xpd-chart-placeholder" ng-if="!operationData.operationContext.currentOperation.running && operationData.operationContext.currentEvent == null">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>
            </div>

        </div>

        <div class="btn-group slips-to-slips-dropdown-menu" uib-dropdown is-open="flags.modalFailureLessonLearned">
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a ng-click="atController.actionClickFailuresButton()" id="times-bar-click-failures">Failures</a>
                </li>
                <li role="menuitem">
                    <a ng-click="atController.actionClickLessonsLearnedButton()" id="times-bar-click-lessons">Lessons Learned</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 xpd-chart-container">

            <div class="xpd-chart-container-content">

                <div ng-if="operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent != null" block-speed="operationData.blockSpeedContext"
                    class="xpd-chart">
                </div>

                <div class="xpd-chart-placeholder" ng-if="!operationData.operationContext.currentOperation.running && operationData.operationContext.currentEvent == null">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>

            </div>

        </div>

    </div>

    <!-- MODAL -->
    <div class="times-event-dialog" ng-show="flags.showEventDialog">

        <div class="col-md-8 times-event-header">
            {{selectedEvent.eventType==="CONN"?"Connection":"Trip"}}
            ({{selectedEvent.startTime | date:'MM/dd/yyyy HH:mm:ss'}} / {{ (selectedEvent.duration/1000) | secondsToHourMinutesSeconds}}) {{selectedEvent.state
            }}
        </div>

        <div class="col-md-4 times-event-header text-right">
            <span class="glyphicon glyphicon-remove" ng-click="atController.actionEventModalButtonClose()"></span>
        </div>

        <span class="glyphicon glyphicon-triangle-left selected-arrow"></span>

        <div class="col-md-4 times-event-dialog-col times-event-status-col">

            <div class="npt-switch">
                <label class="switch">
                    <input type="checkbox" ng-model="selectedEvent.npt">
                    <div class="slider round"></div>
                </label>
                <label class="npt-switch-label">NPT</label>
            </div>
            <br/>
            <div class="times-event-radio">
                <input ng-model="selectedEvent.statusCategory" id="radioOperational" type="radio" name="statusCategory" value="operational">
                <label for="radioOperational">Operational</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioFailure" type="radio" name="statusCategory" value="failure">
                <label for="radioFailure">Failure</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioDelay" type="radio" name="statusCategory" value="delay">
                <label for="radioDelay">Delay</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioOther" type="radio" name="statusCategory" value="other">
                <label for="radioOther">Other</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioBest" type="radio" name="statusCategory" value="best">
                <label for="radioBest">Best Practice</label>
                <br/>
            </div>
        </div>
        <div class="col-md-8 times-event-dialog-col times-event-comments-col">
            <div class="comments-header">Comments</div>
            <div class="comments-content">
                <textarea name="justification" rows="8" cols="70" id="justification" class="form-control" ng-model="selectedEvent.justification">
                    Comments...
                </textarea>
            </div>
        </div>
        <div class="col-md-12 times-event-footer">
            <button class="btn btn-primary btn-sm" ng-click="atController.actionEventModalButtonSave(selectedEvent)">Save
            </button>
        </div>
    </div>

</div>

<div ng-controller="AdminTrackingController as atController" class="col-md-3 col-sm-6 col-xs-6 xpd-chart-container">

    <div class="xpd-chart-placeholder" ng-if="!operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent == null">
        <span class="xpd-chart-placeholder-text">No running operation</span>
    </div>

    <div class="blockspeed-ruler-go" ng-show="flags.showGo || flags.showUnreachable">
        <span class="blockspeed-ruler-go-text">GO!</span>
    </div>

    <div class="blockspeed-ruler-slow-down" ng-show="flags.showSlowDown">
        <span class="blockspeed-ruler-slow-down-text">Exceeding the speed limit!</span>
    </div>

    <!-- TRIP -->
    <div ng-if="operationData.eventContext.currentEvent.eventType == 'TRIP'" class="xpd-chart-container-content event-trip-container">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 speed-gauge-chart-container">

            <!-- current-alarm="operationData.alarmContext.currentAlarm" -->
            <div speed-gauge class="speed-gauge-chart"
                has-alarm="flags.hasAlarm"
                has-message="flags.hasMessage"
                readings='operationData.readingContext.currentReading'
                calculated='operationData.elevatorTargetContext.currentCalculated'
                operation='operationData.operationContext.currentOperation'
                safety-speed-limit="operationData.elevatorTargetContext.safetySpeedLimit">
            </div>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 trip-ruler-chart-container">

            <div trip-ruler show-slow-down="flags.showSlowDown" class="trip-ruler-chart" readings='operationData.readingContext.currentReading'
                calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
                operation='operationData.operationContext.currentOperation' expected-changing="operationData.stateContext.changingStatesList"
                expected-alarm-changing="operationData.alarmContext.changingAlarmsList" unreachable="operationData.elevatorTargetContext.unreachable">
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 in-slips-chart-container">

            <div in-slips class="in-slips-chart" calculated='operationData.elevatorTargetContext.currentTimeCalculated' target='operationData.operationContext.currentOperation.inSlips'>
            </div>

            <!-- <div class="col-md-12" ng-if="operationData.stateContext.currentState" xpd-time-operation-manager view='admin'>
            </div> -->
        </div>

    </div>

    <!-- CONN -->
    <div ng-if="operationData.eventContext.currentEvent != null && (operationData.eventContext.currentEvent.eventType == 'CONN' || operationData.eventContext.currentEvent.eventType == 'TIME')"
        class="event-conn-container">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
            <div conn-ruler class=" conn-ruler-chart" chronometer="( operationData.chronometerContext.tick / 1000 )" vtarget-duration='operationData.chronometerContext.expected' time-blocks="dados.timeBlocks"
                flash-go-div="dController.flashGoDiv">
            </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

            <div trip-ruler show-slow-down="flags.showSlowDown" class=" trip-ruler-chart" readings='operationData.readingContext.currentReading'
                calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
                operation='operationData.operationContext.currentOperation'>
            </div>

        </div>


        <!-- <div class="col-md-12" ng-if="operationData.stateContext.currentState" xpd-time-operation-manager view='admin'>
        </div> -->

    </div>

    <!--WAIT -->
    <div ng-if="operationData.operationContext.currentOperation != null && operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent != null && operationData.eventContext.currentEvent.eventType == 'WAIT'"
        class="event-conn-container">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
            <div conn-ruler class=" conn-ruler-chart" chronometer="( operationData.chronometerContext.tick / 1000 )" vtarget-duration='operationData.chronometerContext.expected' time-blocks="dados.timeBlocks"
                flash-go-div="dController.flashGoDiv">
            </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

            <div trip-ruler show-slow-down="flags.showSlowDown" class=" trip-ruler-chart" readings='operationData.readingContext.currentReading'
                calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
                operation='operationData.operationContext.currentOperation'>
            </div>

        </div>

    </div>

    <div ng-if="operationData.operationContext.currentOperation && operationData.operationContext.currentOperation.running"
        class="xpd-conn-chronometers xpd-conn-chronometers-top">
        <span ng-class="{'trip-time-target-overtime': ( operationData.chronometerContext.tick / 1000 ) > operationData.chronometerContext.expected }">
            {{ ( operationData.chronometerContext.tick / 1000 ) | secondsToHourMinutesSeconds }}
        </span>
        <span ng-if="operationData.chronometerContext.expected != null">
            / {{operationData.chronometerContext.expected | secondsToHourMinutesSeconds}}
        </span>
        <span ng-if="operationData.chronometerContext.expected == null">
            / &infin;
        </span>
    </div>

</div>

<div ng-controller="AdminTrackingController as atController" class="col-md-4 col-sm-6 col-xs-6 xpd-admin-col">

    <div class="xpd-admin-col-content">
        <div class="row tracking-performance-row xpd-chart-container">

            <div class="col-md-4 xpd-chart-container-content">

                <score-gauge class="xpd-chart" joint-data="operationData.jointContext" direction-data="operationData.directionContext" number-joints="operationData.jointContext.numberJoints"
                    current-score="operationData.scoreContext.currentScore" acc-score="operationData.shiftContext.accScore">
                </score-gauge>

            </div>

            <div class="col-md-4 xpd-chart-container-content">

                <div ng-if="operationData.eventContext.currentEvent.ssoIndicator" class="data-sso-box">
                    <div class="data-sso-indicator">SSO SIGNED</div>
                </div>

                <div class="ship-placeholder-container">
                    <img class="ship-placeholder" photo-api-directive photo-api-directive-photo-name="operationData.wellContext.currentWell.rig.photoPath"
                        photo-api-directive-server-path="tripin/rig-pictures">

                    <div ng-if="operationData.operationContext.currentOperation.running" class="data-bit-depth-content">
                        <div class="data-bit-depth-title"> Bit Depth </div>

                        <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.cycle.usingXpd == true">{{ operationData.bitDepthContext.xpdBitDepth | number : 2 }} m
                        </div>

                        <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.cycle.usingXpd != true">{{ operationData.bitDepthContext.rigBitDepth | number : 2 }} m
                        </div>

                    </div>
                </div>

                <div ng-if="operationData.shiftContext.onShift[0] != null" member-performance member="operationData.shiftContext.onShift[0].member"></div>

            </div>

            <div class="col-md-4 xpd-chart-container-content tracking-vre-container">
                <div vre-list-table vre-data="operationData.vreContext.vreData"></div>
            </div>

        </div>

        <div class="row tracking-operation-progress-row xpd-chart-container has-footer">
            <div class="xpd-chart-container-header">
                Operation Progress
            </div>

            <div class="xpd-chart-container-content">

                <div ng-if="operationData.stateContext.currentState && operationData.operationProgressContext.operationProgressData && operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                    class="xpd-chart" operation-progress-chart progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                    progress-data-delay="operationData.operationProgressContext.progressDataDelay"></div>

            </div>
            <div class="xpd-chart-container-footer operation-progress-delay-container">
                <div class="operation-progress-delay">
                    <div class="operation-progress-delay-title">
                        Progress Delay
                    </div>
                    <div class="operation-progress-delay-info">
                        <table class="table">
                            <tr>
                                <td ng-repeat="delayLog in operationData.operationProgressContext.progressDataDelay">
                                    {{delayLog.name}}:
                                    <span>{{delayLog.time | secondsToHourMinutes}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="row tracking-alarm-row xpd-chart-container">
            <div class="xpd-chart-container-header">
                Alarms/Tasks
            </div>

            <div class="xpd-chart-container-content">
                <ul class="media-list">
                    <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.depthAlarms | orderBy: 'playTime'">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{ acknowledgement.alarm.message }}
                            <br/>

                            <i>Triggered at:
                                <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                            </i>
                            <br/>

                            <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                            </i>

                            <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row tracking-message-row xpd-chart-container">
            <div class="xpd-chart-container-header">
                Messages
            </div>

            <div class="xpd-chart-container-content">
                <ul class="media-list">
                    <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.timeAlarms | orderBy: 'playTime'">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-time"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{ acknowledgement.alarm.message }}
                            <br/>

                            <i>Triggered at:
                                <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                            </i>
                            <br/>

                            <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                            </i>

                            <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>