<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 xpd-panel">
    <div class="xpd-panel-body">

        <div class="col-md-6 col-sm-6 col-xs-6 xpd-chart-container">
            <div class="xpd-chart-container-header">
                Slips to Slips (Conn)
            </div>
            <div class="xpd-chart-container-content">
                <div ng-if="currentOperation && currentOperation.running && currentEvent != null"
                    class="xpd-chart" xpd-times='connectionTimes' max-seconds="175" max-bars="200" selected-event="selectedEvent"
                    action-open-dropdown-menu="actionOpenDropdownMenu">
                </div>

                <div class="xpd-chart-placeholder" ng-if="!currentOperation.running">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 xpd-chart-container">

            <div class="xpd-chart-container-header">
                Slips to Slips (Trip)
            </div>

            <div class="xpd-chart-container-content">
                <div ng-if="currentOperation && currentOperation.running && currentEvent != null"
                    class="xpd-chart" xpd-times='tripTimes' max-seconds="100" max-bars="200" action-open-dropdown-menu="actionOpenDropdownMenu"
                    selected-event="selectedEvent">

                </div>

                <div class="xpd-chart-placeholder" ng-if="!currentOperation.running">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>
            </div>

        </div>

        <div class="btn-group slips-to-slips-dropdown-menu" uib-dropdown is-open="flags.openDropdownMenu">
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a ng-click="actionClickEventDetailsButton()" id="times-bar-click-details">Details</a>
                </li>
                <li role="menuitem">
                    <a ng-click="actionClickFailuresButton()" id="times-bar-click-failures">Failures</a>
                </li>
                <li role="menuitem">
                    <a ng-click="actionClickLessonsLearnedButton()" id="times-bar-click-lessons">Lessons Learned</a>
                </li>
            </ul>
        </div>

        <!-- <div class="col-md-4 col-sm-4 col-xs-4 xpd-chart-container">

            <div class="xpd-chart-container-content">

                <div ng-if="currentOperation.running && currentEvent != null" block-speed="blockSpeedContext"
                    class="xpd-chart">
                </div>

                <div class="xpd-chart-placeholder" ng-if="!currentOperation.running">
                    <span class="xpd-chart-placeholder-text">No running operation</span>
                </div>

            </div>

        </div> -->

    </div>

    <!-- MODAL -->
    <div class="times-event-dialog" ng-show="flags.showEventDialog">

        <div class="col-md-8 times-event-header">
            {{selectedEvent.eventType==="CONN"?"Connection":"Trip"}}
            ({{selectedEvent.startTime | date:'MM/dd/yyyy HH:mm:ss'}} / {{ (selectedEvent.duration/1000) | secondsToHourMinutesSeconds}}) {{selectedEvent.state
            }}
        </div>

        <div class="col-md-4 times-event-header text-right">
            <span class="glyphicon glyphicon-remove" ng-click="actionEventModalButtonClose()"></span>
        </div>

        <span class="glyphicon glyphicon-triangle-left selected-arrow"></span>

        <div class="col-md-4 times-event-dialog-col times-event-status-col">

            <div class="npt-switch">
                <label class="switch">
                    <input type="checkbox" ng-model="selectedEvent.npt">
                    <div class="slider round"></div>
                </label>
                <label class="npt-switch-label">NPT</label>
            </div>
            <br/>
            <div class="times-event-radio">
                <input ng-model="selectedEvent.statusCategory" id="radioOperational" type="radio" name="statusCategory" value="operational">
                <label for="radioOperational">Operational</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioFailure" type="radio" name="statusCategory" value="failure">
                <label for="radioFailure">Failure</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioDelay" type="radio" name="statusCategory" value="delay">
                <label for="radioDelay">Delay</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioOther" type="radio" name="statusCategory" value="other">
                <label for="radioOther">Other</label>
                <br/>
                <input ng-model="selectedEvent.statusCategory" id="radioBest" type="radio" name="statusCategory" value="best">
                <label for="radioBest">Best Practice</label>
                <br/>
            </div>
        </div>
        <div class="col-md-8 times-event-dialog-col times-event-comments-col">
            <div class="comments-header">Comments</div>
            <div class="comments-content">
                <textarea name="justification" rows="8" cols="70" id="justification" class="form-control" ng-model="selectedEvent.justification">
                    Comments...
                </textarea>
            </div>
        </div>
        <div class="col-md-12 times-event-footer">
            <button class="btn btn-primary btn-sm" ng-click="actionEventModalButtonSave(selectedEvent)">Save
            </button>
        </div>
    </div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 xpd-chart-container">

    <div class="xpd-chart-placeholder" ng-if="!currentOperation.running && currentEvent == null">
        <span class="xpd-chart-placeholder-text">No running operation</span>
    </div>

    <div class="blockspeed-ruler-go" ng-show="flags.showGo || flags.showUnreachable">
        <span class="blockspeed-ruler-go-text">GO!</span>
    </div>

    <div class="blockspeed-ruler-slow-down" ng-if="currentEvent && currentEvent.eventType == 'TRIP'" ng-show="flags.showSlowDown">
        <span class="blockspeed-ruler-slow-down-text">Exceeding the speed limit!</span>
    </div>

    <!-- TRIP -->
    <div ng-if="currentEvent.eventType == 'TRIP'" class="xpd-chart-container-content event-trip-container">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 speed-gauge-chart-container">

            <div xpd-speed-gauge class="speed-gauge-chart"
                has-alarm="flags.hasAlarm"
                has-message="flags.hasMessage"
                readings='currentReading'
                calculated='currentCalculated'
                operation='currentOperation'
                safety-speed-limit="safetySpeedLimit">
            </div>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 trip-ruler-chart-container">

            <div xpd-trip-ruler show-slow-down="flags.showSlowDown" class="trip-ruler-chart" readings='currentReading'
                calculated='currentCalculated' current-event="{{currentEvent}}"
                operation='currentOperation' expected-changing="changingStatesList"
                expected-alarm-changing="changingAlarmsList" unreachable="unreachable">
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 in-slips-chart-container">

            <div xpd-in-slips class="in-slips-chart" calculated='currentTimeCalculated' target='currentOperation.inSlips'>
            </div>
        </div>

    </div>

    <!-- CONN -->
    <div ng-if="currentEvent != null && (currentEvent.eventType == 'CONN' || currentEvent.eventType == 'TIME')"
        class="event-conn-container">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
            <div xpd-conn-ruler class=" conn-ruler-chart" chronometer="( currentTick / 1000 )" vtarget-duration='taskExpectedDuration' time-blocks="timeBlocks"
                flash-go-div="dController.flashGoDiv">
            </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

            <div xpd-trip-ruler show-slow-down="flags.showSlowDown" class=" trip-ruler-chart" readings='currentReading'
                calculated='currentCalculated' current-event="{{currentEvent}}"
                operation='currentOperation'>
            </div>

        </div>

    </div>

    <!--WAIT -->
    <div ng-if="currentOperation != null && currentOperation.running && currentEvent != null && currentEvent.eventType == 'WAIT'"
        class="event-conn-container">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
            <div xpd-conn-ruler class=" conn-ruler-chart" chronometer="( currentTick / 1000 )" vtarget-duration='taskExpectedDuration' time-blocks="timeBlocks"
                flash-go-div="dController.flashGoDiv">
            </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

            <div xpd-trip-ruler show-slow-down="flags.showSlowDown" class=" trip-ruler-chart" readings='currentReading'
                calculated='currentCalculated' current-event="{{currentEvent}}"
                operation='currentOperation'>
            </div>

        </div>

    </div>

    <div ng-if="currentOperation && currentOperation.running"
        class="xpd-conn-chronometers xpd-conn-chronometers-top">
        <span ng-class="{'trip-time-target-overtime': ( currentTick / 1000 ) > taskExpectedDuration }">
            {{ ( currentTick / 1000 ) | secondsToHourMinutesSeconds }}
        </span>
        <span ng-if="taskExpectedDuration != null">
            / {{taskExpectedDuration | secondsToHourMinutesSeconds}}
        </span>
        <span ng-if="taskExpectedDuration == null">
            / &infin;
        </span>
    </div>

</div>