<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 xpd-chart-container">
    <div class="xpd-chart-container-header">
        <p>Slips to Slips (Conn)</p>
    </div>
    <div class="xpd-chart-container-content">
        <xpd-times ng-if="currentOperation && currentOperation.running && currentEvent != null" times='connectionTimes'
            max-seconds="175" max-bars="200" selected-event="selectedEvent" action-open-dropdown-menu="openDropdownMenu">
        </xpd-times>

        <div class="xpd-placeholder" ng-if="!currentOperation.running">
            <span class="xpd-placeholder-text">No running operation</span>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 xpd-chart-container">

    <div class="xpd-chart-container-header">
        <p>Slips to Slips (Trip)</p>
    </div>

    <div class="xpd-chart-container-content">
        <xpd-times ng-if="currentOperation && currentOperation.running && currentEvent != null" times='tripTimes'
            max-seconds="100" max-bars="200" action-open-dropdown-menu="openDropdownMenu" selected-event="selectedEvent">
        </xpd-times>

        <div class="xpd-placeholder" ng-if="!currentOperation.running">
            <span class="xpd-placeholder-text">No running operation</span>
        </div>
    </div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 h-100">

    <div class="xpd-placeholder" ng-if="!currentOperation.running && currentEvent == null">
        <span class="xpd-placeholder-text">No running operation</span>
    </div>

    <div class="blockspeed-ruler-go" ng-show="flags.showGo || flags.showUnreachable">
        <span class="blockspeed-ruler-go-text">GO!</span>
    </div>

    <div class="blockspeed-ruler-slow-down" ng-if="currentEvent && currentEvent.eventType == 'TRIP'" ng-show="flags.showSlowDown">
        <span class="blockspeed-ruler-slow-down-text">Exceeding the speed limit!</span>
    </div>

    <div class="h-90" ng-include src="'TRIP.html'" ng-if="currentEvent.eventType == 'TRIP'"></div>
    <div class="h-90" ng-include src="'CONN-TIME.html'" ng-if="currentEvent != null && (currentEvent.eventType == 'CONN' || currentEvent.eventType == 'TIME')"></div>
    <div class="h-90" ng-include src="'WAIT.html'" ng-if="currentOperation != null && currentOperation.running && currentEvent != null && currentEvent.eventType == 'WAIT'"></div>

    <!-- Chronometer -->
    <div class="h-10 xpd-conn-chronometers" ng-if="currentOperation && currentOperation.running">
        <span ng-class="{'trip-time-target-overtime': ( currentTick / 1000 ) > taskExpectedDuration }">
            {{ ( currentTick / 1000 ) | secondsToHourMinutesSeconds }}
        </span>
        <span ng-if="taskExpectedDuration != null">
            / {{taskExpectedDuration | secondsToHourMinutesSeconds}}
        </span>
        <span ng-if="taskExpectedDuration == null">
            / &infin;
        </span>
    </div>

</div>

<script type="text/ng-template" id="TRIP.html">

    <div class="h-95 col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding">

        <xpd-speed-gauge has-alarm="flags.hasAlarm" has-message="flags.hasMessage" readings='currentReading' calculated='currentCalculated'
            operation='currentOperation' safety-speed-limit="safetySpeedLimit">
        </xpd-speed-gauge>

    </div>

    <div class="h-95 col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding">

        <xpd-trip-ruler show-slow-down="flags.showSlowDown" readings='currentReading' calculated='currentCalculated' current-event="{{currentEvent}}"
            operation='currentOperation' expected-changing="changingStatesList" expected-alarm-changing="changingAlarmsList"
            unreachable="unreachable">
        </xpd-trip-ruler>

    </div>

    <div class="h-5 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <xpd-in-slips calculated='currentTimeCalculated' target='currentOperation.inSlips'>
        </xpd-in-slips>
    </div>
</script>

<script type="text/ng-template" id="CONN-TIME.html">
    <div class="h-100 col-xs-8 col-sm-8 col-md-8 col-lg-8 nopadding">
        <xpd-conn-ruler chronometer="( currentTick / 1000 )" vtarget-duration='taskExpectedDuration' time-blocks="timeBlocks" flash-go-div="dController.flashGoDiv">
        </xpd-conn-ruler>
    </div>

    <div class="h-100 col-xs-4 col-sm-4 col-md-4 col-lg-4 nopadding">
        <xpd-trip-ruler show-slow-down="flags.showSlowDown" readings='currentReading' calculated='currentCalculated' current-event="{{currentEvent}}"
            operation='currentOperation'>
        </xpd-trip-ruler>
    </div>
</script>

<script type="text/ng-template" id="WAIT.html">

    <div class="h-100 col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
        <xpd-conn-ruler chronometer="( currentTick / 1000 )" vtarget-duration='taskExpectedDuration' time-blocks="timeBlocks" flash-go-div="dController.flashGoDiv">
        </xpd-conn-ruler>

    </div>

    <div class="h-100 col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <xpd-trip-ruler show-slow-down="flags.showSlowDown" readings='currentReading' calculated='currentCalculated' current-event="{{currentEvent}}"
            operation='currentOperation'>
        </xpd-trip-ruler>
    </div>

</script>

<!--Extras -->
<div class="btn-group slips-to-slips-dropdown-menu" uib-dropdown is-open="flags.openDropdownMenu">
    <ul uib-dropdown-menu role="menu">
        <li role="menuitem">
            <a ng-click="onClickEventDetails()" id="times-bar-click-details">Details</a>
        </li>
        <li role="menuitem">
            <a ng-click="onClickFailures()" id="times-bar-click-failures">Failures</a>
        </li>
        <li role="menuitem">
            <a ng-click="onClickLessonsLearned()" id="times-bar-click-lessons">Lessons Learned</a>
        </li>
    </ul>
</div>