<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>XPD Driller</title>

	<link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

	<!-- build:vendorcss -->
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/node_modules/angular-aside/dist/css/angular-aside.min.css"></link>
	<link rel="stylesheet" href="/node_modules/angular-toastr/dist/angular-toastr.css" />
	<!-- endbuild -->

	<!-- build:basecss -->
	<link rel="stylesheet" href="/xpd-resources/css/xpd.css">
	<link rel="stylesheet" href="/xpd-resources/ng/xpd.visualization/xpd-visualization.css">
	<link rel="stylesheet" href="/xpd-resources/css/driller.css">
	<link rel="stylesheet" href="/xpd-resources/css/pallete.css">
	<!-- endbuild -->

	<!-- build:vendorjs -->
	<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>

	<script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

	<script type="text/javascript" src="/node_modules/socket.io-client/dist/socket.io.js"></script>

	<script type="text/javascript" src="/node_modules/angular-aside/dist/js/angular-aside.min.js"></script>

	<script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>

	<script type="text/javascript" src="/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script type="text/javascript" src="/node_modules/angular-spinner/dist/angular-spinner.min.js"></script>

	<script type="text/javascript" src="/node_modules/ngstorage/ngStorage.min.js"></script>

	<!-- endbuild -->

	<!-- build:basejs -->
	<script type="text/javascript" src="/xpd-resources/ng/socket.io/socketio.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/socket.io/socket.factory.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.access/security-interceptor.factory.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.factory.js"></script>


	<script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/setupapi.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/setupapi.service.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/eventlog-setupapi.service.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/photo-setupapi.service.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/photo-setupapi.directive.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.dialog/xpd.dialog.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.dialog/xpd.dialog.factory.js"></script>


	<script type="text/javascript" src="/xpd-resources/ng/xpd.spinner/xpd.spinner.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.operationmanager/operationmanager.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.time-operation-manager/time-operation-manager.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.scoredevent/scoredevent.directive.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.communication/communication.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.communication/operation-communication.factory.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.communication/operation-server-data.factory.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.calculation/calculation.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.calculation/calculation.service.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/d3/d3.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/d3/d3.service.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/xpd-visualization.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/xpd-view-box.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/score-gauge.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/conn-ruler.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/trip-ruler.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/speed-gauge.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/in-slips.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/times.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/member-performance.directive.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.upcoming-alarms/upcoming-alarms.directive.js"></script>


	<script type="text/javascript" src="/xpd-resources/ng/xpd.filters/xpd-filter.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.filters/percentage.filter.js"></script>


	<script type="text/javascript" src="/xpd-resources/ng/xpd.tracking/tracking.module.js"></script>
	<script type="text/javascript" src="/xpd-resources/ng/xpd.tracking/tracking.controller.js"></script>

	<script type="text/javascript" src="/xpd-resources/ng/xpd.modal.laydown-confirmation/xpd.modal.laydown-confirmation.directive.js"></script>

	<script type="text/javascript" src="./app/components/driller/driller-tracking.module.js"></script>
	<script type="text/javascript" src="./app/components/driller/driller-tracking.controller.js"></script>

	<!-- endbuild -->

</head>

<body ng-app="xpd.drillerTracking" ng-controller="DrillerTrackingController as dtController">

	<laydown-confirmation ng-show="false" dismissable="false"></laydown-confirmation>

	<div class="container-fluid driller-container cf" ng-controller="TrackingController as tController">

		<div class="driller-container-col driller-container-left-col">

			<div class="row driller-section performance-section">

				<div class="driller-component performance-drillship-component">
					<div class="driller-component-header">
						<h2>Performance DrillShip
							<access-factory-directive hide-reports="true" hide-setup="true"></access-factory-directive>
						</h2>
					</div>
					<div class="driller-component-content">
						<div class="operation-manager-container driller-component-col">
							<xpd-operation-manager view="driller" display="stacked" popover-placement="bottom-left" current-bit-depth="operationData.bitDepthContext"
							 current-state="operationData.stateContext.currentState" current-event="operationData.eventContext.currentEvent" current-direction="operationData.directionContext"
							 current-operation='operationData.operationContext.currentOperation' operation-queue='operationData.operationQueueContext.operationQueue'
							 last-section='operationData.operationQueueContext.lastSection' action-button-start-operation='tController.actionButtonStartOperation'
							 action-button-finish-operation='tController.actionButtonFinishOperation' action-button-start-cementation="tController.actionButtonStartCementation"
							 action-button-stop-cementation="tController.actionButtonStopCementation" action-button-start-bha-make-up="tController.actionButtonStartBhaMakeUp"
							 action-button-start-bha-lay-down="tController.actionButtonStartBhaLayDown" action-button-finish-bha-make-up="tController.actionButtonFinishBhaMakeUp"
							 action-button-finish-bha-lay-down="tController.actionButtonFinishBhaLayDown">
							</xpd-operation-manager>

						</div>

					</div>
					<div class="driller-component-footer">
					</div>
				</div>

				<div class="driller-component">

					<div class="driller-component-content">

						<div class="data-bit-depth-content" ng-if="operationData.operationContext.currentOperation.running">
							<div class="data-bit-depth-title">
								<div class="data-bit-depth" ng-if="operationData.bitDepthContext.usingXpd">
									Bit Depth:
									<strong>{{ operationData.bitDepthContext.xpdBitDepth | number : 2 }} m</strong>
								</div>

								<div class="data-bit-depth" ng-if="!operationData.bitDepthContext.usingXpd">
									Bit Depth:
									<strong>{{ operationData.bitDepthContext.rigBitDepth | number : 2 }} m</strong>
								</div>

							</div>

							<div ng-if="operationData.eventContext.currentEvent.ssoIndicator" class="data-sso-box">
								<div class="data-sso-indicator">SSO SIGNED</div>
							</div>

						</div>

					</div>

				</div>

				<div class="driller-component consistence-component">

					<div class="driller-component-header">
						<h2>Consistence
						</h2>
					</div>
					<div class="driller-component-content">


						<div class="score-gauge-container driller-component-col">
							<score-gauge class="xpd-chart" joint-data="operationData.jointContext" direction-data="operationData.directionContext" current-score="operationData.scoreContext.currentScore"
							 acc-score="operationData.shiftContext.accScore">
							</score-gauge>
						</div>

					</div>

				</div>

			</div>


			<div class="row driller-section communication-section">

				<!-- warning alarm -->
				<div class="driller-component communication-component warning-communication-component" ng-click='tController.actionOpenAlarmConfirmationModal()'>

					<div class="driller-component-header">
						<h2>

							<span class="glyphicon glyphicon-warning-sign"></span>Warning</h2>
					</div>

					<div class="driller-component-content">
						<ul class="media-list list-alarm">

							<li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.depthAlarms | orderBy: 'playTime'">

								<div class="media-left">
									<span class="glyphicon glyphicon-download-alt alarm-icon"></span>
								</div>

								<div class="media-body alarm-content">
									<h4 class="media-heading">
										{{ acknowledgement.alarm.name }}
									</h4>

									<span>
										{{ acknowledgement.alarm.message }}
									</span>

									<br/>

									<i>Triggered at:
										<strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
									</i>
									<br/>

									<i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
										<strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
									</i>

									<i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>

								</div>

							</li>

							<li class="media">
								More...
							</li>
						</ul>
					</div>

				</div>

				<div class="driller-component upcoming-alarms-content">
					<upcoming-alarms current-direction="operationData.directionContext" current-bit-depth="operationData.bitDepthContext.bitDepth"
					 alarm-context="operationData.alarmContext">
					</upcoming-alarms>
				</div>

				<!-- message alarm -->
				<!-- <div class="driller-component communication-component messages-communication-component" ng-click='tController.actionOpenAlarmConfirmationModal()'>
					<div class="driller-component-header">
						<h2>

                        <span class="glyphicon glyphicon-envelope"></span>Messages

                    </h2>
					</div>

					<div class="driller-component-content">

						<ul class="media-list">

							<li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.timeAlarms | orderBy: 'playTime'">

								<div class="media-left">
									<span class="glyphicon glyphicon-time alarm-icon"></span>
								</div>

								<div class="media-body alarm-content">
									<h4 class="media-heading">
										{{ acknowledgement.alarm.name }}
									</h4>
									
									<span>
										{{ acknowledgement.alarm.message }}
									</span>

									<br/>

									<i>Triggered at: <strong>{{ acknowledgement.playTime | date: 'short' }}</strong></i>
									<br/>

									<i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at: <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong></i>

									<i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
								</div>

							</li>

							<li class="media">
								More...
							</li>

						</ul>

					</div>

				</div> -->

				<!-- operation actions button -->
				<div class="driller-component communication-component xpd-time-operation-content">
					<xpd-time-operation-manager class="col-md-12 xpd-time-operation-manager" ng-if="operationData.stateContext.currentState">
					</xpd-time-operation-manager>
				</div>
			</div>

		</div>

		<div class="driller-container-col driller-container-right-col">

			<div class="blockspeed-ruler-section">

				<div class="blockspeed-ruler-go" ng-show="flags.showGo || flags.showUnreachable">
					<span class="blockspeed-ruler-go-text">GO!</span>
				</div>

				<div class="blockspeed-ruler-slow-down" ng-show="flags.showSlowDown">
					<span class="blockspeed-ruler-slow-down-text">Exceeding the speed limit!</span>
				</div>

				<div class="xpd-chart-placeholder" ng-if="!operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent == null">
					<span class="xpd-chart-placeholder-text">No running operation</span>
				</div>

				<!-- TRIP -->
				<div class="event-trip-container" ng-if="operationData.eventContext.currentEvent.eventType == 'TRIP'">

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 speed-gauge-chart-container">

						<!-- current-alarm="operationData.alarmContext.currentAlarm" -->
						<div speed-gauge class="speed-gauge-chart" has-alarm="flags.hasAlarm" has-message="flags.hasMessage" readings='operationData.readingContext.currentReading'
						 calculated='operationData.elevatorTargetContext.currentCalculated' operation='operationData.operationContext.currentOperation'>
						</div>

					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 trip-ruler-chart-container">

						<div trip-ruler show-slow-down="flags.showSlowDown" class="trip-ruler-chart" readings='operationData.readingContext.currentReading'
						 calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
						 operation='operationData.operationContext.currentOperation' expected-changing="operationData.stateContext.changingStatesList"
						 expected-alarm-changing="operationData.alarmContext.changingAlarmsList" unreachable="operationData.elevatorTargetContext.unreachable">
						</div>

					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 driller-in-slips-chart-container">
						<div in-slips class="in-slips-chart" calculated='operationData.elevatorTargetContext.currentTimeCalculated' target='operationData.operationContext.currentOperation.inSlips'>
						</div>
					</div>

					<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 trip-time-target ">
						<span ng-class="{'trip-time-target-overtime': ( operationData.chronometerContext.tick / 1000 ) > (operationData.displacementContext.displacement / operationData.eventContext.currentEvent.vtarget) }">{{ ( operationData.chronometerContext.tick / 1000 ) | secondsToHourMinutesSeconds }}</span> /
						<span>{{ (operationData.displacementContext.displacement / operationData.eventContext.currentEvent.vtarget) | secondsToHourMinutesSeconds }}
						</span>
					</div> -->

				</div>

				<!-- CONN -->
				<div class="event-conn-container" ng-if="operationData.eventContext.currentEvent != null && (operationData.eventContext.currentEvent.eventType == 'CONN' || operationData.eventContext.currentEvent.eventType == 'TIME')">

					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
						<div conn-ruler class=" conn-ruler-chart" chronometer="( operationData.chronometerContext.tick / 1000 )" vtarget-duration='operationData.chronometerContext.expected'
						 time-blocks="dados.timeBlocks" flash-go-div="dController.flashGoDiv">
						</div>

					</div>

					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

						<div trip-ruler show-slow-down="flags.showSlowDown" class="trip-ruler-chart" readings='operationData.readingContext.currentReading'
						 calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
						 operation='operationData.operationContext.currentOperation'>
						</div>

					</div>

					<!-- <div class="col-md-12" 
				         ng-if="operationData.stateContext.currentState"
				         xpd-time-operation-manager>
				    </div> -->

				</div>

				<!--WAIT -->
				<div class="event-conn-container" ng-if="operationData.operationContext.currentOperation != null && operationData.operationContext.currentOperation.running && operationData.eventContext.currentEvent != null && operationData.eventContext.currentEvent.eventType == 'WAIT'">

					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 conn-ruler-chart-container">
						<div conn-ruler class=" conn-ruler-chart" chronometer="( operationData.chronometerContext.tick / 1000 )" vtarget-duration='operationData.chronometerContext.expected'
						 time-blocks="dados.timeBlocks" flash-go-div="dController.flashGoDiv">
						</div>

					</div>

					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 trip-ruler-chart-container">

						<div trip-ruler show-slow-down="flags.showSlowDown" class=" trip-ruler-chart" readings='operationData.readingContext.currentReading'
						 calculated='operationData.elevatorTargetContext.currentCalculated' current-event="{{operationData.eventContext.currentEvent}}"
						 operation='operationData.operationContext.currentOperation'>
						</div>

					</div>

				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 trip-time-target xpd-time-chronometers" ng-if="operationData.operationContext.currentOperation && operationData.operationContext.currentOperation.running">

					<span ng-class="{'trip-time-target-overtime': ( operationData.chronometerContext.tick / 1000 ) > operationData.chronometerContext.expected }">
						{{ ( operationData.chronometerContext.tick / 1000 ) | secondsToHourMinutesSeconds }}
					</span>

					<span ng-if="operationData.chronometerContext.expected != null">
						/ {{ operationData.chronometerContext.expected | secondsToHourMinutesSeconds }}
					</span>

					<span ng-if="operationData.chronometerContext.expected == null">
						/ &infin;
					</span>

				</div>

			</div>
		</div>
	</div>

</body>

</html>