@import '~assets/css/font.scss';
@import './tracking.scss';
@import './planner.scss';
@import './team.scss';
@import './alarm.scss';

.operation-progress-delay {
    color: white;
    font-family: $font-family-1;
    height: 100%;
    padding: 5px;
    padding-top: 0;
}

.operation-progress-delay-title {
    font-size: 1em;
    text-align: center;
    -webkit-text-stroke: 1px #517f89;
    -webkit-text-fill-color: transparent;
    height: 20%;
}

.operation-progress-delay-info {
    font-size: 1.3em;
    height: 80%;
}

.operation-progress-delay-info .table > tbody > tr > td {
    border-top: 0;
    text-align: center;
    color: #fff
}

.operation-progress-delay-info .table {
    margin-bottom: 0;
}

/*****/

.table > tbody > tr > td.vre-svg-container, 
.table > thead > tr > th.vre-svg-container, 
.table > tfoot > tr > td.vre-svg-container {
    /*background-color: transparent;*/
    background-color: black;
    width: 30%;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
}

.positive-vre,
.negative-vre {
    font-weight: bold;
}

rect.positive-vre {
    fill: #75b6e5
}

.positive-vre {
    color: #75b6e5;
}

rect.negative-vre {
    fill: #821919
}

.negative-vre {
    color: #cc0505;
}

.general-vre-container.positive-vre {
    border: 1px solid #92d050;
}

.general-vre-container.negative-vre {
    border: 1px solid #cc0505;
}

.xpd-vre-list {
    margin-bottom: 10px;
    color: #75b6e5;
}

/*.vtr-report-table>tbody>tr>td{
    border-top: 0;
}
*/
.vtr-report-table>tbody>tr>td{
    border-top: 1px solid #000;
}

.vtr-report-table>tfoot>tr>td{
    border-top: 1px solid #00807f;
}

.table>thead:first-child>tr:first-child>th{
    border-bottom: 0;
}

.vre-align{
    text-align: right;
}

.time-align{
    text-align: center;
}

.vre-list-collapse {
    margin: 2px;
}

/**
 * VTR x SCORE
 */
.vre-score-table{
    border-collapse: initial;
}

.vre-score-table>tbody>tr>td{
    /*padding: 8px 0 8px 0;*/
    padding-top: 8px
}

/**
*   TREE
**/

.tree-content{
    background-color: #acd7ca;
    border-radius: 2px;
    overflow: auto;
    max-height: 525px;
    border: solid #3a7b93 2px;
}

.tree-content-title{
    color: #517f89;
    font-family: $font-family-1;
    font-weight: bold;
    font-size: 25px;
}

.tree-ul{
    color: black;
    font-family: $font-family-1;
    text-align: left;
    text-anchor: middle;
    font-size: 15px;
}

.tree-ul li{
    margin:5px;
}

/*.tree-ul li span{
    margin: 3px;
}*/

.selected-node{
    background-color: #000; /*#fff;*/
    padding: 3px;
    border-radius: 2px;
    text-decoration: underline;
    color: #fff; /*#00807f;*/
}
.add-node{
    color: #00807f;
    margin-left: 2px;
}

.edit-node{
    color: #00807f;
}

.remove-node{
    color: #cc0505;
}

.content-select-node{
    display: initial;
    margin-right: 10px;
    margin-left: 7px;
}

/**
*   ALARM
**/

.xpd-operation-modal{
    font-family: $font-family-1;
}

/**
 * XPD OPERATION MODAL
 */

.xpd-operation-modal .modal-content{
    border-radius: 0;
    border: 3px solid #2e9098;
}

.xpd-operation-modal .modal-content form{
    margin-bottom: 0;
}

.xpd-operation-modal .modal-header{
    padding-bottom: 2px;
    padding-top: 10px;
    border-bottom: 3px solid #2e9098;
    background-color: black;
    color: #54848f;
    font-weight: bold;
    font-size: 16px;
}

.xpd-operation-modal .modal-body, .xpd-operation-modal .modal-footer{
    background-color: #c8e5dc;
    padding: 5px;
}

.xpd-operation-modal .modal-footer{
    border-top: 2px solid #2e9098;
}

.xpd-operation-modal .modal-header.splitted-header{
    padding: 0;
}

.xpd-operation-modal .modal-header.splitted-header .splitted-modal-col{
    padding-bottom: 2px;
    padding-top: 10px;
    padding-left: 15px;
}

.xpd-operation-modal .splitted-modal-col{
    width: 42%;
    float: left;
}

.xpd-operation-modal .modal-body.splitted-body{
    padding: 0;
}

.xpd-operation-modal .container-fluid{
    padding: 0;
}

.xpd-operation-modal .modal-body.splitted-body .splitted-modal-col{
    padding: 5px;
}

.xpd-operation-modal div .splitted-modal-col:first-child{
    width: 58%;
}

.xpd-operation-modal div .splitted-modal-col:nth-child(2){
    border-left: 3px solid #2e9098;
}

.xpd-operation-modal .modal-body input.form-control{
    height: 25px;
    /*max-width: 140px;*/
    padding: 4px;
}

.xpd-operation-content-category{
    border-top: 3px solid #2e9098;
    padding: 5px;
    clear: both;
}

.xpd-operation-modal-category-list{
    min-height: 250px;
    max-height: 250px;
}

.xpd-operation-modal-category-list div ul li{
    padding: 0 0 0 2px;
    line-height: 16px;
}


/**
 * XPD OPERATION TABLE
 */
.xpd-operation-table{
    border: 2px solid #517f89;
}

 .xpd-operation-table>tbody>tr>td, .xpd-operation-table>tbody>tr>th,
 .xpd-operation-table>tfoot>tr>td, .xpd-operation-table>tfoot>tr>th,
 .xpd-operation-table>thead>tr>td, .xpd-operation-table>thead>tr>th{
    border: 2px solid #517f89
 }

  .xpd-operation-table>thead>tr>th{
    color: #000;
    background-color: #517f89;
 }

 .xpd-operation-table.table>tbody>tr>td,
 .xpd-operation-table.table>tbody>tr>th,
 .xpd-operation-table.table>tfoot>tr>td,
 .xpd-operation-table.table>tfoot>tr>th,
 .xpd-operation-table.table>thead>tr>td,
 .xpd-operation-table.table>thead>tr>th{
    padding: 3px;
 }

 .xpd-operation-table.table>tbody>tr>td{
    /*color: #517f89;*/
    color: #444;
    font-family: sans-serif;
    font-size: 12px;
 }

 .xpd-operation-table.table>tbody>tr>th{
    background-color: #acd7ca;
 }

 .xpd-operation-table .splitted-modal-header>div{
    width: 50%;
 }

 .in-npt{
    background-color: #e0b9b9;
 }

.center-align-list td {
    text-align: center;
}

/**
 * NPT SWITCH
 */
.npt-switch{
    float: right;
    margin-right: 15px;
}

.npt-switch .npt-switch-label {
    margin-bottom: 0;
    font-size: 1em;
}

.npt-switch .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 23px;
    margin-bottom: -4px;
    /*width: 60px;
    height: 34px;*/
}

.npt-switch .switch input[type="checkbox"] {
    display: none;
}

.npt-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 3px solid #517f89;
    -webkit-transition: .4s;
    transition: .4s;
}

.npt-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.npt-switch input:checked + .slider:before{
    /*background-color: #00b050;*/
}

.in-best-practices {
    background-color: #7dcf82;
}

.in-best-practices td:first-child span {
    color: #f9ff00;
 }
/**
 * BEST PRACTICES SWITCH
 */
.best-practices-switch{
    float: right;
    margin-right: 15px;
}

.best-practices-switch .best-practices-switch-label {
    margin-bottom: 0;
    font-size: 1em;
}

.best-practices-switch .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 23px;
    margin-bottom: -4px;
}

.best-practices-switch .switch input[type="checkbox"] {
    display: none;
}

.best-practices-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 3px solid #517f89;
    -webkit-transition: .4s;
    transition: .4s;
}

.best-practices-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.best-practices-switch input:checked + .slider{
    background-color: #7dcf82
}

input:checked + .slider{
    background-color: #bf0808;
}


/**
 * COMMENTS TEXT AREA
 */
.xpd-operation-modal textarea.form-control{
    border: 2px solid #2e9098;
    border-radius: 0;
    background-color: #acd7ca;
    color: black;
    font-weight: bold;
}
/**
* DROPDOWN MENU ACTION BAR TRACKING
*/
.slips-to-slips-dropdown-menu{
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

/*
 * FAILURES REPORT
 */
.failure-report-chart{
    margin-bottom: 10px;
}

.failures-breadcrumb{
    background-color: transparent;
    color: #acd7ca;
}

.failures-breadcrumb a{
    cursor: pointer;
    color: #436a72;
}


.failure-report-chart div{
    border-radius: 5px;
}

.failures-report-table{
    border-radius: 3px;
   background-color: #2b908f;
}

.failures-report-tbody tr{
    cursor: pointer;
}

.failures-report-tbody tr{
    background-color: #acd7ca;
}

.failures-report-tbody tr:hover{
    background-color: #9fd8c7
}

.cell-description {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scrolling-table-tabs {
    max-height: 400px;
    overflow: auto;
}

.current-elevator-bit-depth-cicle-row{
    font-size: 2em;
}

.out-of-slips-indicators-container{
    overflow: auto;
}

/**
 * FIXED HEADER TABLE
 */

.table-fixed-header{
    margin-bottom: 0;
}

 .div-table-fixed{
    max-height:250px;
    overflow-y:auto;
 }

 /**
  * LEGEND CATEGORY
  */

.legend-category {
     border-radius: 50%;
     margin: 3px;
     width: 15px;
     height: 15px;
}

/**
 * DATA ACQUISITION
 */

.readings-is-acquired {
    position: inherit;
    display: block;
}

.data-acquisition-status-icon{
    padding-top: 10px;
}

.data-acquisition-status-icon.status-open{
    color: #38e638;
}

.data-acquisition-status-icon.status-close{
    color: red;
}

/**
 * TEAM
 */


/*
 * FAILURE ON GOING 
 */
.failure-on-going-nav-bar {
    width: 250px;
    height: 50px;
    border: 2px solid #456c75;
    font-family: $font-family-1;
    font-size: 1.3em;
    font-weight: bolder;
    display: flex;
    margin-right: 440px;
    position: fixed;
    z-index: 1031;
    right: 25px;
    top: 0px;
    background-color: #ddd;
    color: #456c75;
}

.failure-title{
    width: 250px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 2px;
    font-size: 1.3em;
}

.failure-category{
    font-size: 0.7em;
    border: 0;
    color: #222;
    width: 100%;
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: #456c75;
}

.failure-npt-category{
    background-color: rgb(230, 88, 88);
}

.failure-normal-category{
    background-color: rgb(241, 191, 0);
}

.category-content{
    display: flex;
}

.failure-normal {
    background-color: rgb(219, 230, 239);
    color: rgb(218, 165, 19);
}

.failure-npt {
    background-color: rgb(219, 230, 239);
    color: rgb(243, 66, 66);
}

.add-failure-on-going {
    height: 47px;
    position: static;
}

.fish-button{
    width: 36px;
}

.finish-failure-on-going {
    display: flex;
    margin: 0 auto;
    height: 21px;
    font-size: 15px;
    padding: 0px 14px;
}

.action-button-swap {
    white-space: nowrap;
}

/**
 * RPD
 */
.shift-report {
    height: 100vh;
    overflow: auto
}

/**
    DMEC
*/

.navigator {
    cursor: col-resize;
}

