

.planner-error-text {
    font-size: 0.8em;
    -webkit-text-stroke: 1px red;
    -webkit-text-fill-color: red;
}

.planner-boxes-container {
    height: 100%;
    overflow-y: auto;
}
.planner-box div,
.planner-box button {
    margin: 0;
    padding: 0;
}

.planner-box {
    font-family: AgencyFB;
}

.planner-box .panel-heading {
    color: black;
    background-color: #517f89;
    text-align: center;
}

.planner-box .panel-heading a {
    color: black;
}

.planner-box-label {
    background-color: #acd7ca;
    color: black;
    text-align: center;
    height: 100%;
}

.planner-box-text {
    background-color: black;
    color: #517f89;
    text-align: center;
    height: 100%;
}
.planner-forecast-row {
    height: 50%;
}
.planner-forecast-grid {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.planner-forecast-cell {
    border: solid 1px #436a72;
    float: left;
    height: 50%;
    width: 50%;
}

.planner-forecast-cell-full {
    width: 100%;
}

.planner-forecast-cell .panel {
}

.planner-forecast-cell .panel > .panel-heading {
}

.planner-forecast-cell .panel > .panel-body {
}

.planner-forecast-cell .panel > .panel-body .row {
}
.planner-list-item {
    display: table;
    height: 50px;
    max-height: 50px;
    border: 2px solid #456c75;
    padding: 0px;
    white-space: nowrap;
    position: relative;
}

.planner-list-item:hover {
    background-color: #456c75;
    border: 2px solid black;
}

.planner-list-item a:hover {
    background-color: #456c75;
    color: black;
}

.planner-list-item a {
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}

.planner-list-item .button-bellow-label {
    position: absolute;
    bottom: -52px;
    border-top: 0;
    right: 0;
    background-color: #456c75;
    color: white;
    padding: 1px 3px;
    font-size: 1em;
    z-index: 1049;
}

.planner-list-item.active {
    background-color: #456c75;
}

.planner-list-item.active a {
    color: black;
}

.planner-sum-trip-conn {
    height: 20px;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
}