@import './font.scss';
@import './height.scss';
@import './scrollbar.scss';
@import './xpd-placeholder.scss';
@import './xpd-panel.scss';
@import './xpd-chart-container.scss';


/**
 * TYPE SCALE CODE (Major Third Scale)
 */

html {
    font-size: 0.875em;
}

body {
    background: url('./../img/bg.png');
    padding: 0;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    font-family: 'Arial', serif;
    font-weight: 400;
    line-height: 1.45;
    // color: #333;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    /*margin: 1.414em 0 0.5em;*/
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

small, .font_small {
    font-size: 0.8em;
}


/**
 * PAGE STRUCTURE
 **/
 
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: 50px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-5 {
    padding: 5px;
}

.scrollable-content {
    overflow: auto;
    height: 100%;
}

.xpd-section-with-navbar {
    // overflow: hidden;
    padding-top: 70px;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

.xpd-green-list-container ul {
    border: 2px solid #456c75;
    font-family: $font-family-1;
    font-size: 1.3em;
    font-weight: bolder;
    color: #456c75;
    margin-top: 5px;
}

.xpd-green-list-container li {
    background-color: #acd7ca;
    color: black;
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

.xpd-green-list-container li > a {
    color: #000;
    padding: 0 5px;
    list-style-type: disc;
}


/**
 *  FORM COMPONENTS
 **/

.table.borderless>tbody>tr>td, .table.borderless>tbody>tr>th, .table.borderless>tfoot>tr>td, .table.borderless>tfoot>tr>th, .table.borderless>thead>tr>td, .table.borderless>thead>tr>th {
    border: none;
}

/**
 * XPD HEADER
 **/

.xpd-header-logo {
    width: 45px;
}


/**
 *  SMALL COMPONENTS
 **/

.table-sm {
    font-size: 12px;
}

.input-group-sm {
    max-width: 135px;
}

.form-control-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.timepicker-sm input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


/**
 * SCHEDULER
 **/


/**
 * SCHEDULER SETUP
 **/

.member-scheduler-container {
    min-height: 500px;
}

.member-scheduler-setup-container {
    text-align: center;
    margin: 2px;
}

.member-scheduler-setup-months {
    margin-bottom: 2px;
    font-size: 18px;
}

.member-scheduler-setup-year {
    display: inline-block;
    vertical-align: middle;
}

.member-scheduler-setup-days button {
    width: 42px;
}

.member-scheduler-setup-months .btn-default.active, .member-scheduler-setup-months .btn-default:active {
    background-color: #BABABA;
    border-color: #CACACA;
}

.member-scheduler-hour-label {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.member-scheduler-identification-label {
    position: absolute;
    color: #255987;
    font-size: 12px;
    font-weight: bold;
}

.member-scheduler-monthly-view-overlay {
    position: absolute;
    top: 0;
    background-color: #333;
    display: none;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.member-scheduler-monthly-view-overlay-icon {
    color: #000;
}

.member-scheduler-odd-bg-column {
    background-color: #9e9e9e;
    opacity: 0.3;
    position: absolute;
    top: 0;
}

.gantt_task_row {
    position: relative;
}

.gantt_task_row.gantt_selected .agenda-odd-bg-column {
    background-color: transparent;
}

.gantt_cell .gantt_tree_icon.gantt_folder_closed, .gantt_cell .gantt_tree_icon.gantt_folder_open {
    background-image: url("../img/hard-hat.png");
}

.gantt_cell .gantt_tree_icon.gantt_file {
    background-image: url("../img/worker-icon.png");
}

.team_gantt_task_row .gantt_cell, .team_gantt_row  .gantt_cell{
    color: black;
    background-color: #f0f0f0;
    font-weight: bolder;
}

.team_gantt_row_parent .gantt_cell .gantt_tree_icon.gantt_folder_closed,
.team_gantt_row_parent .gantt_cell .gantt_tree_icon.gantt_folder_open{
    background-image: url("../img/teams-icon.png");
    background-size: 26px 31px;
}

.team_gantt_row_child .gantt_cell .gantt_tree_icon.gantt_file{
    background-image: url("../img/team-icon.png");
    background-size: 26px 31px;
}

.gantt_row.team_gantt_row+:not(.team_gantt_row),
.gantt_task_row.team_gantt_task_row+:not(.team_gantt_task_row){
    border-top: solid thin #a0a0a0;
}

.gantt_tree_content{
    cursor: pointer;
}

.gantt_tree_content:hover{
    color: #286090;
    font-weight: bolder;
}



/**
 * ALARMS LISTS
 **/

a.view-only-link {
    text-decoration: blink;
}

.popover {
    border-radius: 0;
    white-space: nowrap;
    max-width: none;
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    font-size: 10px;
}


/**
 *  SECTION & OPERATION TABLE
 **/

/*.section-table.table > thead > tr > th:first-child {
}

.section-table.table>tbody>tr>td:first-child {
    text-align: left;
    max-width: 20px;
    padding: 5px 0;
}

.section-table .btn-sm {
    padding: 3px 8px;
}

.btn-operation-collapse {
    font-size: 10px;
    padding: 3px 8px;
}

.section-table .btn-sm.btn-operation-collapse {
    padding: 2px 6px;
}

.section-table-tr {
    border-top: 2px solid #d1dfe6;
}

.operation-table caption {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
}*/



/**
 * WELL LIST
 **/

.current-well-well {
    background-color: #e7f3f7;
}

.current-well-name {
    color: #2e8b57;
    text-transform: uppercase;
}

.list-buttons-column {
    white-space: nowrap;
}

.table-contract-info input.form-control {
    max-width: 100px;
}

.table-contract-info .input-group {
    max-width: 135px;
}


/* OPERATION MANAGER */

.xpd-green-styled-box {
    font-family: $font-family-1;
    font-size: 1.3em;
    font-weight: bolder;
}

.xpd-green-styled-box-popover {
    font-family: $font-family-1;
    font-size: 1em;
    font-weight: bolder;
    z-index: 100000;
    border: 2px solid #456c75;
    border-radius: 0;
    width: 200px;
    min-width: 100px;
    background: transparent;
}

.xpd-green-styled-box-popover .popover-content{
    padding: 0;
}

.xpd-green-styled-box-popover .equilibrium-time-table {
    margin-bottom: 0px;
}

.xpd-green-styled-box-cell {
    display: table;
    height: 50px;
    max-height: 50px;
    border: 2px solid #456c75;
    padding: 0px;
    white-space: nowrap;
    position: relative;
}

.xpd-green-styled-box-cell-blink {
    animation: xpd-blinker 1s linear infinite;
}

@keyframes xpd-blinker {
    50% {
        opacity: 0.5;
    }
}

.xpd-green-styled-box-cell:hover {
    background-color: #456c75;
    border: 2px solid black;
}

.xpd-green-styled-box-cell a:hover {
    background-color: #456c75;
    color: black;
}

.xpd-green-styled-box-cell a {
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}

.xpd-green-styled-box-cell.active {
    background-color: #456c75;
    /* border: 2px solid black; */
}

.xpd-green-styled-box-cell.active a {
    color: black;
}

/**
 * EQUILIBRIUM TABLE
 **/

.equilibrium-time-table {
    font-family: $font-family-1;
    border: solid thin #517f89;
}

.equilibrium-time-table-title {
    color: black;
    background-color: #517f89;
    text-align: center;
    fill: black;
    text-anchor: middle;
}

.equilibrium-time-table-label {
    background-color: #acd7ca;
    color: black;
    text-align: center;
    fill: black;
    text-anchor: middle;
}

.equilibrium-time-table-text {
    background-color: black;
    color: #517f89;
    text-align: center;
    height: 100%;
    fill: #517f89;
    text-anchor: middle;
}

.xpd-event-popover {
    width: 300px
}

.xpd-event-popover textarea {
    resize: none;
}

.xpd-form-warning {
    color: #a94442;
}

.xpd-setup-panel {
    margin: 0;
    border-radius: 0;
}

.xpd-setup-panel .panel-heading {
    border-radius: 0;
    margin:0;
}

.xpd-setup-panel .panel-body {
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 0;
}

.xpd-setup-panel .panel-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: #98999b;
    z-index: 3;
}

/*.xpd-footer {
    background: #98999b;
    height: 60px;
    padding: 10px;
    margin: 0;
    width: 100%;
    bottom: 0;
}*/



/*.xpd-footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #98999b;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    border-top: solid thin #3492c3;
}*/

.form-error-message {
    color: red;
    font-size: 13px;
    display: block;
}


.communication-component .driller-component-content {
    border: solid thin #456c75;
    border-radius: 0px 25px 0px 25px;
    overflow: hidden;
}

.operation-time-label {
    position: absolute;
    right: 0;
    display: inline;
}

.operation-time-label-miliseconds {
    font-size: 0.7em;
}


/** xpd operation status **/

.xpd-operation-status {
    height: 75px;
    width: 300px;
    border: #456c75 medium solid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99999;
    animation-name: status-blinker;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    background-color: black;
}

.xpd-operation-status.event {
    top: -200px;
    animation-delay: 8s;
}

.xpd-operation-status.operation {
    top: 10px;
}

.xpd-operation-status div {
    font-family: $font-family-1;
    font-size: 1.5em;
    color: #f3e897;
    text-align: center;
}

@keyframes status-blinker {
    0% {
        /*background-color:red; left:0px;*/
        top: 10px;
    }
    25% {
        /*background-color:yellow; left:200px;*/
        top: 10px;
    }
    50% {
        /*background-color:blue; left:200px;*/
        top: -200px;
    }
    75% {
        /*background-color:green; left:0px;*/
        top: -200px;
    }
    100% {
        /*background-color:red; left:0px;*/
        top: 10px;
    }
}

.form-control, .panel, .modal-content, .btn{
	border-radius: 0;
}

.laydown-confirmation-modal{
    font-family: $font-family-1;
}


.laydown-confirmation-modal .modal-footer button{
	margin: auto;
}

/* .spinner:before {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    content: " ";
} */

.btn-modal {
    width:100%;
    padding: 8px 12px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}

.xpd-modal-xxlg .modal-dialog{
	width: 85%;
}

.bit-depth-indicator-title-tracking{
    text-align: center;
}

.data-bit-depth-content{
    margin:0 auto;
    margin-bottom: 10px;
}

.data-bit-depth-title{
    font-family: $font-family-1;
    color: #fff;
    font-size: medium;
}

.data-bit-depth-value{
    font-family: $font-family-1;
    color: #fff;
    font-size: large;
    font-weight: 600;
}

.no-bit-depth {
    color: #cc0505;
    font-weight: bold;
}

.data-sso-box{
    width: 75px;
    margin:0 auto;
    margin-bottom: 10px;
}

.data-sso-indicator{
    background-color: #e89313;
    text-align: center;
    font-weight: 800;
    font-family: $font-family-1;
    color: #000;
    font-size: 1em;
}

.xpd-view-only-exit-button-bg{
    background: #ddd;
}

.xpd-view-only-exit-button-bg:hover{
    background: #777;
}

.button-current{
    width: 120px;
    margin-left: 5px;
}

.button-current-well{
    width: 140px;
    margin-left: 5px;
}


.button-show-hide-operation{
    width: 145px;
    margin-left: 5px;   
}

.button-edit{
    margin-left: 5px;
}

.button-add-section{
    margin-top: -5px;
}

.trip-unit{
    padding: 0px;
    width: 100%;
}

.unit-addon{
    padding: 6px 6px;
}

/**
 * XPD CRITICAL MODAL
 */
.xpd-modal-body-critical{
    color: #a94442;
}

.xpd-date-picker{
    margin: 10px;
}

.xpd-date-picker .uib-timepicker{
    margin: auto;
}

/**
 *
 */

 .xpd-list-group-item{
    text-align: center;
    margin-bottom: 5px;
 }


xpd-operation-manager {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1030;
}

xpd-operation-manager,
xpd-operation-manager .xpd-nav-button {
    background-color: transparent;
}

xpd-operation-manager .xpd-nav-button {
    border: 2px solid #456c75;
    padding: 15px;
    font-family: $font-family-1;
    font-size: 1.3em;
    font-weight: bolder;
    color: #456c75;
}

xpd-operation-manager .xpd-nav-button {
    color: #456c75;
}

xpd-operation-manager .xpd-nav-button:focus,
xpd-operation-manager .xpd-nav-button:hover,{
    background-color: #456c75;
    color: white;
}

xpd-operation-manager .button-bellow-label {
    position: absolute;
    bottom: -1.5em;
    border-top: 0;
    right: 0;
    background-color: #456c75;
    color: white;
    padding: 1px 3px;
    font-size: 1em;
    z-index: 1049;
}


/** OPERATION DASHBOARD */

.borderless {
    border: none;
}

.table>tbody>tr> .borderless-top {
    border-top: none;
}

.progress {
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.progress-bar-total {
    background-color: #517f89;
}

.progress-bar {
    font-size: 11px;
    color: #000;
}

.pointer {
    cursor: pointer;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}