<div class="modal-content">

	<div class="modal-header">
		<h3 class="modal-title">Select what you want to import for the operation?</h3>
	</div>

	<form class="modal-body" name="ocomController.optionsForm" accept-charset="utf-8">

		<div class="form-check form-check-inline">
			<input id="operationInfo" class="form-check-input" ng-model="ocomController.flag.operationInfo" name="flagOperationInfo" type="checkbox">
			<label for="operationInfo" class="form-check-label">Operation Info</label>
		</div>

		<div class="form-check form-check-inline">
			<input id="contractPerformance" class="form-check-input" ng-model="ocomController.flag.contractPerformance" name="flagContractPerformance" type="checkbox" ng-click="ocomController.bindImportFlag('contract')">
			<label for="contractPerformance" class="form-check-label">Contract Performance</label>
		</div>

		<div class="form-check form-check-inline">
			<input id="timeSlices" class="form-check-input" ng-model="ocomController.flag.timeSlices" name="flagTimeSlices" type="checkbox" ng-click="ocomController.bindImportFlag('timeSlice')">
			<label for="timeSlices" class="form-check-label">Time Slices</label>
		</div>

		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ocomController.actionButtonConfirm()">Change</button>
			<button class="btn btn-default" ng-click="ocomController.actionButtonCancel()">Cancel</button>
		</div>

	</form>
</div>