<div class="panel panel-default">

	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">Consistency Information</h4>
		<div class="btn-group pull-right">
			<i 
				type="button" 
				class="pull-right glyphicon pointer" 
				ng-class="{'glyphicon-chevron-down': collapse, 'glyphicon-chevron-up': !collapse}">
			</i>
		</div>
	</div>

	<div class="panel-body" uib-collapse="collapse">

		<table class="table table-sm table-condensed">
			<tr>
				<th>Status</th>
				<td>{{ state | xpdStateLabelFilter }}</td>
				<td ng-if="event.eventType != 'CONN'">
					<span ng-if="isTripin" class="glyphicon glyphicon-arrow-down"></span>
					<span ng-if="!isTripin" class="glyphicon glyphicon-arrow-up"></span>
					<span ng-if="state != 'drilling'">
						Trip {{ isTripin?'In': 'Out' }}
					</span>
				</td>
				<td ng-if="event.eventType == 'CONN'">
					{{ event.eventType | xpdEventLabelFilter }}
				</td>
			</tr>
			<tr>
				<th>Consistency</th>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td colspan="3" class="borderless-top">
					<div class="progress">
						<div 
							class="progress-bar progress-bar-striped active progress-bar-success" 
							role="progressbar" 
							aria-valuemin="0" 
							aria-valuemax="100"
						 	ng-style="{ width: score + '%' }">
							<span class="show">{{ score | number:0 }}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<table class="table table-sm table-condensed">
			<thead>
				<tr>
					<th>Connection</th>
					<th>Trip</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="borderless-top col-md-6" ng-repeat="eventType in ['CONN', 'TRIP']">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" style="width : 100%">
								<span class="show">{{ eventProperty[eventType].vtargetTime | secondsToHourMinutes}}</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-md-6 borderless-top" ng-repeat="eventType in ['CONN', 'TRIP']">
						<div class="progress" ng-if="duration[eventType]">
							<div 
								class="progress-bar" 
								role="progressbar" 
								aria-valuemin="0" 
								aria-valuemax="eventProperty[eventType].afterVpoorTime" 
								ng-class="colorPerformance[eventType]"
							 	ng-style="{'width' : percentageDuration[eventType] + '%'}">
								<span class="show">{{duration[eventType] | secondsToHourMinutes}}</span>
							</div>
						</div>
						<div ng-if="!duration[eventType]">
							<span ng-if="eventType == 'CONN'">Waiting for connection!</span>
							<span ng-if="eventType == 'TRIP'">Waiting for trip!</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-md-6 borderless-top" ng-repeat="eventType in ['CONN', 'TRIP']">
						<div class="progress legend-progress" ng-if="eventProperty[eventType]">
							<div 
								class="progress-bar" 
								ng-style="{'width' : eventProperty[eventType].voptimumPercentage + '%'}">
							</div>
							<div 
								class="progress-bar progress-bar-success" 
								ng-style="{'width' : eventProperty[eventType].vstandardPercentage + '%'}">
							</div>
							<div 
								class="progress-bar progress-bar-warning" 
								ng-style="{'width' : eventProperty[eventType].vpoorPercentage + '%'}">
							</div>
							<div 
								class="progress-bar progress-bar-danger" 
								ng-style="{'width' : eventProperty[eventType].afterVpoorPercentage + '%'}">
							</div>
						</div>
						<div class="pull-right" ng-if="eventProperty[eventType]">
							<span 
								class="label label-primary">
									{{eventProperty[eventType].voptimumTime | secondsToHourMinutes}}
							</span>
							<span 
								class="label label-success center">
									{{eventProperty[eventType].vstandardTime | secondsToHourMinutes}}
							</span>
							<span 
								class="label label-warning right">
									{{eventProperty[eventType].vpoorTime | secondsToHourMinutes}}
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="2">Total</th>
				</tr>
				<tr>
					<td colspan="2" class="borderless-top">
						<div class="progress">
							<div 
								class="progress-bar" 
								role="progressbar" 
								aria-valuemin="0" 
								aria-valuemax="100" 
								ng-class="getJointPerformanceColor()"
							 	ng-style="{'width' : getJointPercentageDuration() + '%'}">
								<span class="show">{{ getJointDuration() | secondsToHourMinutes}}</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="borderless-top">
						<div class="progress legend-progress">
							<div class="progress-bar" ng-style="{'width' : eventProperty['BOTH'].voptimumPercentage + '%'}">
							</div>
							<div class="progress-bar progress-bar-success" ng-style="{'width' : eventProperty['BOTH'].vstandardPercentage + '%'}">
							</div>
							<div class="progress-bar progress-bar-warning" ng-style="{'width' : eventProperty['BOTH'].vpoorPercentage + '%'}">
							</div>
							<div class="progress-bar progress-bar-danger" ng-style="{'width' : eventProperty['BOTH'].afterVpoorPercentage + '%'}">
							</div>
						</div>
						<div class="pull-right">
							<span class="label label-primary">{{ eventProperty['BOTH'].voptimumTime | secondsToHourMinutes }}</span>
							<span class="label label-success center">{{ eventProperty['BOTH'].vstandardTime | secondsToHourMinutes }}</span>
							<span class="label label-warning right">{{ eventProperty['BOTH'].vpoorTime | secondsToHourMinutes }}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>