<svg ng-if="$tracks" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" version='1.1' ng-attr-width='{{ svg.viewWidth }}'
 ng-attr-height='{{ svg.viewHeight }}'>

	<rect class="dmec-bg" fill="#030303" fill-opacity="0.3" x="0" y="0" ng-attr-width='{{ svg.viewWidth }}' ng-attr-height='{{ svg.viewHeight }}'>
	</rect>
	
	<!-- Events in background -->
	<svg ng-attr-width='{{ svg.viewWidth }}' ng-attr-height='{{ svg.viewHeight }}' preserveAspectRatio="none" xpd-view-box="svg.viewBox">
		<g class="events-bg" >
			
			<rect 
				ng-repeat="event in connectionEvents" 
				ng-if="event.duration > 0" 
				class="events-bg-conn" 
				ng-attr-width="{{ horizontal ? ( timeScale(event.duration) - timeScale(0) ) : ( svg.viewWidth ) }}"
				ng-attr-height="{{ horizontal ? ( svg.viewHeight ):( timeScale(event.duration) - timeScale(0) ) }}" 
				ng-attr-x="{{ horizontal ? ( timeScaleFromString(event.startTime) ) : ( 0 ) }}" 
				ng-attr-y="{{ horizontal ? ( 0 ) : ( timeScaleFromString(event.startTime) ) }}" 
				stroke="none" 
				fill="orange" 
				fill-opacity="0.25"
			/>

			<rect 
				ng-repeat="event in tripEvents" 
				ng-if="event.duration > 0" 
				class="events-bg-trip" 
				ng-attr-width="{{ horizontal ? ( timeScale(event.duration) - timeScale(0) ) : ( svg.viewWidth ) }}"
			 	ng-attr-height="{{ horizontal ? ( svg.viewHeight ) : ( timeScale(event.duration) - timeScale(0) ) }}" 
			 	ng-attr-x="{{ horizontal ? ( timeScaleFromString(event.startTime) ) : ( 0 ) }}" 
			 	ng-attr-y="{{ horizontal ? ( 0 ) : ( timeScaleFromString(event.startTime) ) }}" 
				stroke="none" 
				fill="pink" 
				fill-opacity="0.25"
			/>

	</svg>

	<!-- y axis ticks -->
	<g class="range-ticks">
		<g ng-repeat="track in $tracks">
			<line 
				ng-repeat="tick in track.ticks" 
				ng-attr-transform="translate( {{ horizontal? 0: track.trackScale(tick) }}, {{ horizontal? track.trackScale(tick): 0 }} )"
				x1='0' 
				y1='0' 
				ng-attr-x2='{{ horizontal? svg.viewWidth: 0  }}' 
				ng-attr-y2='{{ horizontal? 0: svg.viewHeight }}' 
				stroke="#e9e9e9" 
				stroke-opacity="0.2" 
				stroke-width="1" />
		</g>
	</g>

	<svg ng-attr-width='{{ svg.viewWidth }}' ng-attr-height='{{ svg.viewHeight }}' preserveAspectRatio="none" xpd-view-box="svg.viewBox">
		
		<g class="clip-paths">
			<g ng-repeat="track in $tracks">
				<clipPath id="myClip-{{ track.param }}">
					<rect 
						ng-attr-x="{{ horizontal? timeScale(zoomStartAt) : track.trackScale(track.min) }}" 
						ng-attr-y="{{ horizontal? track.trackScale(track.min) : timeScale(zoomStartAt) }}" 
						ng-attr-width='{{ horizontal? svg.zoomArea : ( track.trackScale(track.max) - track.trackScale(track.min) )  }}' 
						ng-attr-height='{{ horizontal? ( track.trackScale(track.max) - track.trackScale(track.min) ): svg.zoomArea }}'
						/>
				</clipPath>
			</g>
		</g>
		
		<!-- x axis ticks -->
		<g class="time-ticks">
			<g 	ng-repeat="tick in xTicks" 
				ng-attr-transform="translate( {{ horizontal? timeScale(tick): 0 }}, {{ horizontal? 0: timeScale(tick) }} )">
				<!-- <text 
					ng-attr-x='{{ horizontal? 0: svg.viewWidth }}' 
					ng-attr-y='{{ horizontal? svg.viewHeight: 0 }}' >
					{{ tick | date: 'short' }}</text> -->
				<line 
					x1="0" 
					y1="0" 
					ng-attr-x2='{{ horizontal? 0: svg.viewWidth }}' 
					ng-attr-y2='{{ horizontal? svg.viewHeight: 0 }}' 
					stroke="#e9e9e9"
					stroke-opacity="0.2" 
				 	stroke-width="1" />
			</g>
		</g>

		<!-- ng-attr-clip-path="url(#myClip-{{ track.param }})"
		ng-attr-clip-path="url(#myClip-{{ track.param }})" -->

		<g class="oldPoints">
			<path 
			id="{{ track.param }}" ng-repeat="track in $tracks" fill="none" stroke="{{ track.color }}" 
			ng-attr-clip-path="url(#myClip-{{ track.param }})" 
			ng-attr-stroke-width="{{ 3 * ( horizontal? ( svg.zoomArea/ svg.viewWidth ) : ( svg.zoomArea / svg.viewHeight ) ) }}" />
		</g>

		<g class="newPoints">
			<path 
			id="{{ track.param }}" ng-repeat="track in $tracks" fill="none" stroke="{{ track.color }}" 
			ng-attr-clip-path="url(#myClip-{{ track.param }})" 
			ng-attr-stroke-width="{{ 3 * ( horizontal? ( svg.zoomArea/ svg.viewWidth ) : ( svg.zoomArea / svg.viewHeight ) ) }}" />
		</g>
	</svg>

	<!-- Following the mouse -->
	<g class="crosshair" ng-if="!horizontal">
		<line x1="0" ng-attr-x2="{{ svg.viewWidth }}" id="crosshair" stroke="black" stroke-opacity="0.5" stroke-width="0.1em" />
	</g>

	<g class="crosshair" ng-if="horizontal">
		<line y1="0" ng-attr-y2="{{ svg.viewHeight }}" id="crosshair" stroke="white" stroke-opacity="0.5" stroke-width="0.1em" />
	</g>

	<g class="bubble-and-tooltip">
		<g 	ng-repeat="track in $tracks" 
			ng-if="$tracks && track.labelPosition != null">
			<g id="bubble-{{track.param}}" style="display: none;">
				<circle r="5" fill="none" stroke-width="2" ng-attr-stroke="{{ track.color }}"></circle>
				<text id="text-{{track.param}}" x="0" y="0" text-anchor="end" alignment-baseline="hanging" stroke-width="1" ng-attr-fill="{{ track.color }}"
				 ng-attr-stroke="{{ track.color }}"></text>
			</g>
		</g>
	</g>

	<g class="legend" ng-if="!horizontal">

		<g class="label" ng-if="$tracks && track.labelPosition != null" ng-repeat="track in $tracks">

			<text stroke-width="1" ng-attr-fill="{{ track.color }}" ng-attr-stroke="{{ track.color }}" ng-attr-x="{{ track.labelStartAt + ( (track.labelEndAt - track.labelStartAt) * 0.1 )  }}"
			 ng-attr-y="{{ track.labelPosition * 25 }}" alignment-baseline="hanging" text-anchor="start">
				{{ track.min }}
			</text>

			<text stroke-width="1" ng-attr-fill="{{ track.color }}" ng-attr-stroke="{{ track.color }}" ng-attr-x="{{ track.labelStartAt + ( (track.labelEndAt - track.labelStartAt) * 0.5 ) }}"
			 ng-attr-y="{{ track.labelPosition * 25 }}" alignment-baseline="hanging" text-anchor="middle">
				{{ track.label }} ( {{ track.unitMeasure }} )
			</text>

			<text stroke-width="1" ng-attr-fill="{{ track.color }}" ng-attr-stroke="{{ track.color }}" ng-attr-x="{{ track.labelStartAt + ( (track.labelEndAt - track.labelStartAt) * 0.9 ) }}"
			 ng-attr-y="{{ track.labelPosition * 25 }}" alignment-baseline="hanging" text-anchor="end">
				{{ track.max }}
			</text>

		</g>

	</g>

	<g class="legend" ng-if="horizontal">

		<g class="label" ng-if="$tracks && track.labelPosition != null" ng-repeat="track in $tracks">

			<text 
				font-size="2vh" 
				ng-attr-fill="{{ track.color }}" 
				stroke="white" 
				stroke-width="0.05vh" 
				ng-attr-y="{{ track.labelStartAt + ( (track.labelEndAt - track.labelStartAt) * 0.1 )  }}"
				ng-attr-x="{{ (track.labelPosition * 50) }}" 
				alignment-baseline="middle" 
				text-anchor="start">
				{{ track.min }}
			</text>

			<text 
				font-size="2vh" 
				ng-attr-fill="{{ track.color }}" 
				stroke="white" 
				stroke-width="0.05vh" 
				ng-attr-y="{{ track.labelStartAt + ( ( track.labelEndAt - track.labelStartAt ) * ( (track.labelPosition+1) / 3 ) ) }}"
				x="0" 
				alignment-baseline="middle" 
				text-anchor="start">
				{{ track.label }} ( {{ track.unitMeasure }} )
			</text>

			<text 
				font-size="2vh" 
				ng-attr-fill="{{ track.color }}" 
				stroke="white" 
				stroke-width="0.05vh" 
				ng-attr-y="{{ track.labelStartAt + ( (track.labelEndAt - track.labelStartAt) * 0.9 ) }}"
				ng-attr-x="{{ (track.labelPosition * 50) }}" 
				alignment-baseline="middle" 
				text-anchor="start">
				{{ track.max }}
			</text>

		</g>

	</g>

	<rect 
		ng-if="listenToMouseMove != null" 
		style="fill: none; pointer-events: all;" 
		class="overlay" 
		ng-dblclick="openScaleModal()"
		ng-init="listenToMouseMove()" 
		x="0" 
		y="0"
		ng-attr-width='{{ svg.viewWidth }}' 
		ng-attr-height='{{ svg.viewHeight }}'>
	</rect>

</svg>