<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title">Master Panel</h4>
    </div>

    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <div class="modal-body" ng-show="viewControl.showList == true" ng-init="viewControl.showList = true">
        <table class="table table-condensed">
            <caption>Users List
                <button class="btn btn-sm btn-success pull-right" ng-click="mpController.actionButtonAdd()">Add User
                </button>
            </caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>E-mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in modalData.usersList track by value.username">
                <td>{{ value.name }}</td>
                <td>{{ value.username }}</td>
                <td>{{ value.email }}</td>
                <td class="list-buttons-column">
                    <button class="btn btn-sm btn-default" ng-click="mpController.actionButtonEdit(value)">EDIT</button>
                    <button class="btn btn-sm btn-danger" ng-click="mpController.actionButtonRemove(key, value)">
                        REMOVE
                    </button>
                </td>
            </tr>
            </tbody>

            <tfoot ng-if="!modalData.usersList || modalData.usersList.length == 0">
            <tr>
                <td colspan="4">No users registered.</td>
            </tr>
            </tfoot>

        </table>

    </div>

    <div class="modal-footer" ng-show="viewControl.showList == true">
        <button type="button" class="btn btn-secondary" ng-click="mpController.actionButtonClose()">Close</button>
    </div>

    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <div class="modal-body" ng-show="viewControl.showList == false">
        <form name="form" novalidate>
            <table class="table table-condensed">
                <caption>User Information
                    <button class="btn btn-sm btn-success pull-right" ng-click="viewControl.showList = true">Back to
                        List
                    </button>
                </caption>
                <tbody>
                <tr>
                    <th>Name</th>
                    <td ng-class="{ 'has-error': form.name.$invalid && !form.name.$pristine }">
                        <input type="text" name="name" ng-model="modalData.upsertData.name" class="form-control"
                               required>
                    </td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td ng-class="{ 'has-error': form.username.$invalid && !form.username.$pristine }">
                        <input type="text" name="username" ng-model="modalData.upsertData.username" class="form-control"
                               required>
                    </td>
                </tr>

                <tr>
                    <th>Password</th>
                    <td ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
                        <input type="password" name="password" ng-model="modalData.upsertData.password"
                               class="form-control" required>
                    </td>
                </tr>

                <tr>
                    <th>Retype Password</th>
                    <td ng-class="{ 'has-error': (form.rpassword.$invalid && !form.rpassword.$pristine) || (modalData.upsertData.rpassword !== modalData.upsertData.password) }">
                        <input type="password" name="rpassword" ng-model="modalData.upsertData.rpassword"
                               class="form-control" required>
                    </td>
                </tr>

                <tr>
                    <th>E-mail</th>
                    <td ng-class="{ 'has-error': form.email.$invalid }">
                        <input type="email" name="email" ng-model="modalData.upsertData.email" class="form-control">
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>

    <div class="modal-footer" ng-show="viewControl.showList == false">
        <button type="button" class="btn btn-secondary" ng-click="mpController.actionButtonSave()"
                ng-disabled="form.$invalid || (modalData.upsertData.rpassword !== modalData.upsertData.password)">Save
        </button>
    </div>

</div>
