<form name="form">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Master User Info.</h4>
        </div>
        <div class="modal-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Password</th>
                    <td ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
                        <input type="password" name="password" ng-model="modalData.password" class="form-control"
                               required></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" ng-click="mlController.actionButtonClose();">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="mlController.actionButtonLogin();"
                    ng-disabled="form.$invalid">Login
            </button>
        </div>
    </div>
</form>
