<div class="xpd-billboard-container"
     ng-class="{ 'xpd-billboard-scrollable': (xpdBillboard=='admin'), 'xpd-billboard-not-scrollable': (xpdBillboard=='driller')} ">
    <ul ng-click="clickOnBillboard()">
        <li id="item-top" style="list-style-type: none;"></li>

        <li class="xpd-billboard-item" ng-repeat="(key, value) in billboardItems | orderBy : '-sentAt' "
            id="item-{{value.id}} ">

            <div>[{{ value.sentAt | date:'shortTime' }}] {{ value.text }}

                <span class="pull-right xpd-billboard-not-checked" ng-if="!value.seenAt ">
                    <span class="glyphicon glyphicon-ok "></span>
                    <span class="glyphicon glyphicon-ok "></span>
                </span>

                <span class="pull-right xpd-billboard-checked" ng-if="value.seenAt ">
                    {{ value.seenAt | date:'shortTime' }}
                    <span class="glyphicon glyphicon-ok "></span>
                    <span class="glyphicon glyphicon-ok "></span>
                </span>
            </div>

        </li>

        <li class="xpd-billboard-item" ng-show="!billboardItems || billboardItems.length == 0 ">
            No {{ (xpdBillboardType == 'warning')?'Warnings':'Messages' }}
        </li>
    </ul>

    <div class="xpd-billboard-footer" ng-show=" xpdBillboard=='admin' && xpdBillboardType != 'warning'">

        <form name="messageContainer ">
            <div class="input-group ">

                <input type="text " class="form-control " ng-model="message " name="message " required>

                <span class="input-group-btn ">
                    <button class="btn btn-default " type="submit " ng-disabled="messageContainer.$invalid "
                            ng-click="actionButtonSend() ">
                        <span class="glyphicon glyphicon-send "></span>
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>
<div class="xpd-billbard-modal" ng-show="showBillboardModal">
    <div class="row">
        <span class="xpd-billboard-modal-text">{{billboardText}}</span>
    </div>
    <div class="row">
        <button class="btn btn-success btn-lg xpd-billboard-button"
                ng-click="confirmButtonModalAction()">Confirm
        </button>
        <button class="btn btn-danger btn-lg xpd-billboard-button"
                ng-click="cancelButtonModalAction()">Cancel
        </button>
    </div>
</div>