<div class="dmec-tracking-container" ng-if="operationData.operationContext.currentOperation && operationData.operationContext.currentOperation.running">

	<div 
		class="dmec-tracking-row dmec-tracking-row-h-40" 
		ng-if="showDrillingMecChart" 
		ng-init="getAllReadingSince(operationData.operationContext.currentOperation.startDate)" >
		
		<d3-dmec-chart 
			threads="{{ 4 }}" 
			horizontal="true"
			start-at="operationData.operationContext.currentOperation.startDate"
			on-end-at-change="onEndAtChange"
			zoom-start-at="zoomStartTime" 
			zoom-end-at="zoomEndTime"
			readings="readings" 
			auto-scroll="chartAutoScroll">
        </d3-dmec-chart>
	</div>

	<div class="dmec-tracking-row dmec-tracking-row-h-10">
		<time-zoom-tool 
			horizontal="true"
			start-at="operationData.operationContext.currentOperation.startDate"
			end-at="endAt"
			zoom-start-at="zoomStartTime" 
			zoom-end-at="zoomEndTime">
		</time-zoom-tool>
	</div>

	<div class="dmec-tracking-row dmec-tracking-row-h-25">
		<dmec-tracking-events 
			tick="operationData.chronometerContext.tick"
			current-operation='operationData.operationContext.currentOperation' 
			events='connectionEvents' 
			event-type="'CONN'"
			current-event="operationData.eventContext.currentEvent"
			current-block-position= "operationData.readingContext.currentReading.blockPosition">
		</dmec-tracking-events>
	</div>

	<div class="dmec-tracking-row dmec-tracking-row-h-25">
		<dmec-tracking-events
			tick="operationData.chronometerContext.tick"
			current-operation='operationData.operationContext.currentOperation' 
			events='tripEvents' 
			event-type="'TRIP'"
			current-event="operationData.eventContext.currentEvent"
			current-block-position= "operationData.readingContext.currentReading.blockPosition">
		</dmec-tracking-events>
	</div>

	<div class="dmec-tracking-row dmec-tracking-row-h-25">
		<dmec-tracking-events
			tick="operationData.chronometerContext.tick"
			current-operation='operationData.operationContext.currentOperation' 
			events='timeEvents' 
			event-type="'TIME'"
			current-event="operationData.eventContext.currentEvent"
			current-block-position= "operationData.readingContext.currentReading.blockPosition">
		</dmec-tracking-events>
	</div>
</div>