<html>

<head>
    <meta charset="UTF-8">
    </meta>
    <title>Drilling Mechanics Log</title>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">


    <!-- build:vendorcss -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/node_modules/angular-toastr/dist/angular-toastr.css" />
    <!-- endbuild -->

    <!-- build:basecss -->
    <link rel="stylesheet" href="/xpd-resources/css/dmec-log.css">
    <!-- endbuild -->

    <!-- build:vendorjs -->
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>

    <!-- ANGULAR UI BOOTSTRAP -->
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <!-- SOCKET IO -->
    <script type="text/javascript" src="/node_modules/socket.io-client/dist/socket.io.js"></script>

    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="/node_modules/angular-spinner/dist/angular-spinner.min.js"></script>

    <!-- endbuild -->

    <!-- build:basejs -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.spinner/xpd.spinner.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/socket.io/socketio.module.js">
    </script>
    <script type="text/javascript" src="/xpd-resources/ng/socket.io/socket.factory.js"></script>

    <!-- XPD ACCESS -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.directive.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.access/security-interceptor.factory.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.access/accessfactory.factory.js"></script>

    <!-- D3 -->
    <script type="text/javascript" src="/xpd-resources/ng/d3/d3.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/d3/d3.service.js"></script>

    <!-- FILTER -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.filters/xpd-filter.module.js"></script>

    <!-- HIGHCHARTS -->
    <script type="text/javascript" src="../xpd-resources/ng/highcharts/highcharts.module.js"></script>
    <script type="text/javascript" src="../xpd-resources/ng/highcharts/highcharts.service.js"></script>

    <!-- XPD VISUALIZATION -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/xpd-visualization.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/d3-dmec-chart.directive.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/time-zoom-tool.directive.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.visualization/xpd-view-box.directive.js"></script>

    <!-- XPD DIALOG -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.dialog/xpd.dialog.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.dialog/xpd.dialog.factory.js"></script>

    <!-- XPD COMMUNICATION -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.communication/communication.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.communication/operation-communication.factory.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.communication/operation-server-data.factory.js"></script>

    <!-- XPD CALCULATION -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.calculation/calculation.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.calculation/calculation.service.js"></script>

    <!-- DMEC LEGADÃO -->
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/setupapi.module.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/admin-user-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/photo-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/alarm-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/reading-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/category-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/reports-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/eventlog-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/schedule-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/failure-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/section-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/lessonlearned-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/master-user-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/operation-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/well-setupapi.service.js"></script>
    <script type="text/javascript" src="/xpd-resources/ng/xpd.setupapi/photo-setupapi.directive.js"></script>

    <!-- DRILLING MECHANICS MODULE JS -->
    <script type="text/javascript" src="./app/components/dmec-log/dmec-log.module.js"></script>
    <script type="text/javascript" src="./app/components/dmec-log/dmec-log.controller.js"></script>
    <!-- endbuild -->

</head>

<body ng-app="xpd.dmeclog" ng-controller="DMecLogController as dmlController">

    <nav class="navbar navbar-default navbar-fixed-top dmec-navbar">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Drilling Mechanics </a>
            </div>

            <form class="navbar-form navbar-left">


                <uib-accordion>

                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen">

                        <uib-accordion-heading>
                            Settings

                            <span class="well well-sm">
                                <strong>DMEC is starting at</strong> {{ dmecTrackingStartAt | date:'medium' }}
                            </span>

                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}">

                            </i>

                        </uib-accordion-heading>

                        <form name="inputRange.form">

                            <div class="checkbox">
                                <label>
                                    <input name="realtime" ng-model="inputRangeForm.realtime" type="checkbox"> Real Time
                                </label>
                            </div>

                            <div ng-if="!inputRangeForm.realtime">

                                <div class="form-group">
                                    <label for="startTime">From:</label>
                                    <input ng-model="inputRangeForm.startTime" type="datetime-local" class="form-control" required name="startTime" id="startTime">
                                </div>

                            </div>

                            <div ng-if="inputRangeForm.realtime">

                                <div class="form-group">
                                    <label for="last">Last:</label>
                                    <input ng-model="inputRangeForm.last" type="number" class="form-control" required name="last" id="last">
                                </div>

                                <div class="form-group">
                                    <select ng-model="inputRangeForm.toMilliseconds" class="form-control" required name="toMilliseconds" id="toMilliseconds">
                                        <option value="86400000">Days</option>
                                        <option value="3600000">Hours</option>
                                        <option value="60000">Minutes</option>
                                        <option value="1000">Seconds</option>
                                    </select>
                                </div>

                            </div>

                            <button type="submit" ng-click="actionButtonSubmitDmecRange()" ng-disabled="inputRange.form.$invalid" class="btn btn-default">Submit</button>

                        </form>
                    </div>

                </uib-accordion>

            </form>

        </div>

    </nav>

    <time-zoom-tool ng-if="zoomStartAt && zoomEndAt" zoom-start-at="zoomStartAt" zoom-end-at="zoomEndAt" set-zoom-start-at="setZoomStartAt"
        set-zoom-end-at="setZoomEndAt">
    </time-zoom-tool>

    <d3-dmec-chart ng-if="dmecTrackingStartAt && zoomStartAt && zoomEndAt" threads="4" horizontal="false" on-reading-since="onReadingSince"
        actual-start-at="dmecTrackingStartAt" on-reading="onReading" zoom-start-at="zoomStartAt" zoom-end-at="zoomEndAt">
    </d3-dmec-chart>

</body>

</html>