<button class="btn btn-default btn-alarm pull-right" ng-click="tController.actionButtonCloseAlarmsAcknowledgementModal()">
    <span class="glyphicon glyphicon-remove"></span>
</button>

<div class="modal-header modal-header-alarm">
   
    <h3 class="modal-title modal-title-alarm">Played Alarms</h3>

    

</div>

<div class="modal-body">
    
    <button class="btn btn-default btn-alarm btn-block" ng-init='dados.orderByCriteria = "playTime"'
       ng-click='dados.orderByCriteria = (dados.orderByCriteria == "playTime")?"-playTime":"playTime"'>
       {{ (dados.orderByCriteria == "playTime")?"Most Recent":"Oldest First" }}
    </button>

    <ul class="media-list">

        <li class="media"
            ng-if='( operationData.alarmContext.acknowledgementList | orderBy: dados.orderByCriteria ).length == 0'>
            No Alarms/Tasks/Messages
        </li>

        <li class="media"
            ng-repeat='(index, acknowledgement) in ( operationData.alarmContext.acknowledgementList | orderBy: dados.orderByCriteria ) '>

            <div class="media-left">
                <span class="glyphicon glyphicon-download-alt"
                      ng-show="acknowledgement.alarm.alarmType == 'depth'"></span>
                <span class="glyphicon glyphicon-time" ng-show="acknowledgement.alarm.alarmType == 'time'"></span>
            </div>

            <div class="media-body">
                <h4 class="media-heading"><strong> {{ acknowledgement.alarm.name }} </strong></h4>

                {{ acknowledgement.alarm.message }}

                <div class="row">
                    <div class="col-md-6">
                        <strong>Played at</strong>
                    </div>
                    <div class="col-md-6">
                        <span class="text-right">{{ acknowledgement.playTime | date: 'short' }}</span>
                    </div>
                </div>

                <div class="row" ng-if="acknowledgement.acknowledgeTime != null">
                    <div class="col-md-6">
                        <strong>Acknowledged at</strong>
                    </div>
                    <div class="col-md-6">
                        <span class="text-right">{{ acknowledgement.acknowledgeTime | date: 'short' }}</span>
                    </div>
                </div>

                <a ng-if="acknowledgement.acknowledgeTime != null"
                   ng-click="tController.actionButtonUnconfirmAcknowledgement(acknowledgement)">Unconfirm Read</a>

                <a ng-if="acknowledgement.acknowledgeTime == null"
                   ng-click="tController.actionButtonConfirmAcknowledgement(acknowledgement)">Confirm Read</a>

            </div>

        </li>
    </ul>

</div>

<!--<div class="modal-footer">-->

<!--<a class="text-right" ng-click="tController.actionButtonCloseAlarmsAcknowledgementModal()">Close</a>-->

<!--</div>-->
