body {
	margin: 0;
	padding-top: 0;
}

.dmec-navbar{
	height: 5vh;
	margin: 0;
}

d3-dmec-chart {
	display: block;
	z-index: 8;
	height: 90vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 100vw;
	background: black;
}

time-zoom-tool {
	z-index: 10;
	position: absolute;
	bottom: 0;
	height: 5vh;
	width: 100vw;
	display: block;
}