<div class="row scrollable-content">

    <div class="container-fluid scrollable-content">

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 scrollable-content" ng-controller="AdminTrackingController as atController">
            <xpd-dmec-tracking current-operation="operationData.operationContext.currentOperation" current-event="operationData.eventContext.currentEvent"
                current-tick="operationData.chronometerContext.tick" current-block-position="operationData.readingContext.currentReading.blockPosition"
                current-reading="operationData.readingContext.currentReading" connection-events="dados.connectionEvents" trip-events="dados.tripEvents"
                time-events="dados.timeEvents" selected-point="odController.selectedPoint" last-selected-point="lastSelectedPoint" remove-marker="removeMarker">
            </xpd-dmec-tracking>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 scrollable-content">

            <xpd-channels-information-panel
                on-init="odController.getPanelStartState" 
                on-click-collapse="odController.changePanelState"
                collapse = "statusPanel['panelChanelsIsCollapsed']"
                readings="selectedReadings"
                remove-reading= "odController.removeReadingFromList">
            </xpd-channels-information-panel>

            <!-- Well Information -->
            <xpd-well-information-panel
                on-init="odController.getPanelStartState" 
                on-click-collapse="odController.changePanelState"
                collapse = "statusPanel['panelWellIsCollapsed']"
                well="operationData.wellContext.currentWell">
            </xpd-well-information-panel>

            <!-- Operation Information -->
            <xpd-operation-information-panel
                on-init="odController.getPanelStartState"
                on-click-collapse="odController.changePanelState"
                collapse = "statusPanel['panelOperationInfoIsCollapsed']"
                number-joints="operationData.jointContext.numberJoints"
                joint-number="operationData.jointContext.currentJoint.jointNumber" 
                operation="operationData.operationContext.currentOperation"
                state="operationData.stateContext.currentState" 
                reading="operationData.readingContext.currentReading"
                acc-score="scoreData.accScore"
                state-duration="operationData.chronometerContext.stateTick"
                target-param-expected-end-time="expectations.stateExpectedEndTime"
                optimum-expected-duration="expectations.vOptimumStateExpectedDuration"
                standard-expected-duration="expectations.vStandardStateExpectedDuration"
                poor-expected-duration="expectations.vPoorStateExpectedDuration"
                well="operationData.wellContext.currentWell">
            </xpd-operation-information-panel>

            <!-- Consistency Information -->
            <xpd-consistency-information-panel
                on-init="odController.getPanelStartState"
                on-click-collapse="odController.changePanelState"
                collapse= "statusPanel['panelConsistencyInfoIsCollapsed']"
                state="operationData.stateContext.currentState" 
                event="operationData.eventContext.currentEvent"
                is-tripin="operationData.directionContext.tripin" 
                score="operationData.scoreContext.currentScore"
                current-event-duration="operationData.chronometerContext.tick"
                last-event-type="operationData.eventContext.lastEvent.eventType"
                joint-duration="operationData.chronometerContext.jointTick"
                last-trip-duration="lastTripDuration"
                last-conn-duration="lastConnDuration"
                event-property="eventProperty">
            </xpd-consistency-information-panel>

            <!-- Next Activities Information -->
            <xpd-next-activities-information-panel
                on-init="odController.getPanelStartState"
                on-click-collapse="odController.changePanelState"
                collapse = "statusPanel['panelNextActivityIsCollapsed']"
                current-activity-elapsed-time="operationData.chronometerContext.stateTick"
                initial-planning="operationData.suboperationContext.currentSuboperation.jointIntervals"
                operation="operationData.operationContext.currentOperation"
                activities="expectations.nextActivities">
            </xpd-next-activities-information-panel>

            <xpd-operation-progress-panel
                on-init="odController.getPanelStartState"
                on-click-collapse="odController.changePanelState"
                collapse = "statusPanel['panelOperationProgressIsCollapsed']"
                current-score="operationData.scoreContext.currentScore" 
                progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]">
            </xpd-operation-progress-panel>

            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelOperationIsCollapsed')" ng-click="odController.changePanelState('panelOperationIsCollapsed')">
                    <h4 class="panel-title pull-left">
                        Trip {{ operationData.directionContext.tripin?'In': 'Out' }} Sub Operation Forecast</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': statusPanel['panelOperationIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelOperationIsCollapsed']}">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="statusPanel['panelOperationIsCollapsed']">

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vOptimumEstimative', 'BOTH' )">
                        Optimum
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vStandardEstimative', 'BOTH' )">
                        Standard
                    </button>

                    <button class="btn btn-default" ng-click="odController.actionButtonBuildForecast( 'vPoorEstimative', 'BOTH' )">
                        Poor
                    </button>

                    <xpd-forecast-waterfall horizontal="false" data-data-chart="forecast">
                    </xpd-forecast-waterfall>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelCurrentAlarmIsCollapsed')" ng-click="odController.changePanelState('panelCurrentAlarmIsCollapsed')">
                    <h4 class="panel-title pull-left">Current Alarm</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': statusPanel['panelCurrentAlarmIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelCurrentAlarmIsCollapsed']}">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="statusPanel['panelCurrentAlarmIsCollapsed']">

                    <div ng-if="operationData.alarmContext.currentAlarm">
                        <table class="table table-sm table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>{{operationData.alarmContext.currentAlarm.name}}</th>
                                </tr>
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th ng-if="operationData.alarmContext.currentAlarm.isDurationAlarm">Duration</th>
                                    <th ng-if="!operationData.alarmContext.currentAlarm.isDurationAlarm">Restriction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{operationData.alarmContext.currentAlarm.startDepth | number: 2}}(m)</td>
                                    <td>{{operationData.alarmContext.currentAlarm.endDepth | number: 2}}(m)</td>
                                    <td ng-if="operationData.alarmContext.currentAlarm.isDurationAlarm">{{ 3600/operationData.alarmContext.currentAlarm.optimumSpeed | secondsToHourMinutesSeconds}}</td>
                                    <td ng-if="!operationData.alarmContext.currentAlarm.isDurationAlarm">{{operationData.alarmContext.currentAlarm.speedRestriction | number: 2}}(m/s)</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{operationData.alarmContext.currentAlarm.message}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="!operationData.alarmContext.currentAlarm">
                        No Current Alarm
                    </div>

                </div>

            </div>

            <xpd-upcoming-alarms-panel tripin-alarms="operationData.alarmContext.tripin" tripout-alarms="operationData.alarmContext.tripout"
                current-direction="operationData.directionContext" current-bit-depth="operationData.bitDepthContext.bitDepth">
            </xpd-upcoming-alarms-panel>

            <!-- Failures -->
            <div class="panel panel-default">

                <div class="panel-heading clearfix" ng-init="odController.getPanelStartState('panelFailuresIsCollapsed')" ng-click="odController.changePanelState('panelFailuresIsCollapsed')">
                    <h4 class="panel-title pull-left">Failures</h4>
                    <div class="btn-group pull-right">
                        <i type="button" class="pull-right glyphicon pointer" ng-class="{'glyphicon-chevron-down': statusPanel['panelFailuresIsCollapsed'], 'glyphicon-chevron-up': !statusPanel['panelFailuresIsCollapsed']}">
                        </i>
                    </div>
                </div>

                <div class="panel-body" uib-collapse="statusPanel['panelFailuresIsCollapsed']">

                    <div ng-if="operationData.failureContext.failureList.length != 0">

                        <table class="table table-sm table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>NPT</th>
                                    <th>Category</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, failure) in operationData.failureContext.failureList" ng-class="{'danger':failure.npt, 'warning':failure.onGoing}">
                                    <td>
                                        <span ng-class="{'glyphicon glyphicon-ok':(failure.npt), '':(!failure.npt)}"></span>
                                    </td>
                                    <td>{{failure.category.name}}</td>
                                    <td>{{failure.startTime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                                    <td>{{failure.endTime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                                    <td>{{odController.getTotalFailureTime(failure.startTime, failure.endTime) / 1000 | secondsToHourMinutesSeconds}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- <pre ng-repeat="(key, value) in operationData.forecastContext">{{ key }}</pre> -->
    <!-- <pre>{{ operationData.forecastContext.actualLine | json }}</pre> -->
    <!-- <pre >{{ operationData.suboperationContext.currentSuboperation.tripin | json }}</pre> -->

</div>