<section class='xpd-section container-fluid' ng-controller="WellController as wellController"
         ng-if="flags.showSections == 'well-section'" ng-include="'./app/components/admin/views/well.template.html'">
</section>

<section class='xpd-section container-fluid' ng-controller="SectionController as sectionController"
         ng-if="flags.showSections == 'section-section'"
         ng-include="'./app/components/admin/views/section.template.html'">
</section>

<!--section class='xpd-section container-fluid' ng-controller="MemberSchedulerController as memberSchedulerController" ng-if="flags.showSections == 'member-scheduler-section'" ng-include="'./app/components/admin/views/member-scheduler.template.html'"-->
</section>

<section class='xpd-section container-fluid' ng-controller="OperationController as operationController"
         ng-if="flags.showSections == 'operation-section'"
         ng-include="'./app/components/admin/views/operation.template.html'">
</section>

<footer class="xpd-footer">

    <div class="container" ng-if="flags.showSections == 'well-section'">

        <div class="pull-left">
            <h4>
                    <span class="label label-warning" ng-show="!dados.currentWell">
                        <i>No selected well</i>
                    </span>
            </h4>
        </div>

        <div class="pull-right">
            <button class="btn btn-primary" ng-show="dados.currentWell" ng-click="sController.goToSections()">Go to
                sections
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>

    </div>

    <div class="container" ng-if="flags.showSections == 'section-section'">

        <div class="pull-left">
            <button class="btn btn-default" ng-click="sController.goToWells()">
                <span class="glyphicon glyphicon-chevron-left"></span> Back to Well list
            </button>
        </div>
        <!-- <div class="pull-right">
            <a class="btn btn-primary" href="#/team">Go to Agenda
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> -->
    </div>

    <div class="container" ng-if="flags.showSections == 'operation-section'">

        <div class="pull-left">
            <button class="btn btn-default"
                    ng-click="controllers.operationController.confirmLeaving(sController.goToSections)">
                <span class="glyphicon glyphicon-chevron-left"></span> Back to Section List
            </button>
        </div>

        <div class="pull-right">

            <a class="xpd-form-warning"
               ng-click="controllers.operationController.validateGeneralInfo(); dados.tabIndex=0"
               ng-show="dados.allTabsWereVisited == true && controllers.operationController.info.$invalid">
                <span class="glyphicon glyphicon-warning-sign"></span> General Info Issue</a>

            <a class="xpd-form-warning"
               ng-click="controllers.operationController.validateContractParams(); dados.tabIndex=1"
               ng-show="dados.allTabsWereVisited == true && controllers.operationController.contract.$invalid">
                <span class="glyphicon glyphicon-warning-sign"></span> Contract Issue</a>

            <a ng-click="dados.tabIndex = dados.tabIndex + 1"
               ng-show="dados.allTabsWereVisited != true && dados.tabIndex < 2">Next Tab</a>

            <button class="btn btn-default"
                    ng-click="controllers.operationController.actionButtonSave(sController.goToSections)"
                    ng-show="dados.allTabsWereVisited == true && !controllers.operationController.contract.$invalid && !controllers.operationController.info.$invalid">
                Save & Close
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>

        </div>
    </div>

</footer>
